---
title: Header Background 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Header Background?</h3>



<p>Want to add even more pizazz to your portfolio? Then add a background to the header of your portfolio! You can add your own image, or choose from one of our stock images. &#xA0;To ensure the best quality, the size of the image you select must be under
    800kb. &#xA0;Other than that, the only limit is your imagination.</p>

<p>&#xA0;</p>

<h4>Adding a Header Background</h4>

<p>You can add a header background by jumping over to the &apos;Design&apos; tab, then select the &apos;Styles&apos; tab.</p>

<p>
    <a href="//help.foliotek.com/media/8317/design-styles tab.jpg" target="_blank"><img src="//help.foliotek.com/media/8317/design-styles tab_535x185.jpg" width="535" height="185" alt="Design-Styles Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>Click &apos;Header&apos; and make sure &apos;Box&apos; is selected. &#xA0;Change the setting for &apos;Display Image&apos; to &apos;YES&apos;.</p>

<p>
    <a href="//help.foliotek.com/media/8322/header background image.jpg" target="_blank"><img src="//help.foliotek.com/media/8322/header background image_535x255.jpg" width="535" height="255" alt="Header Background Image" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>You will then be able to choose the image you want to use.&#xA0; Select one of our Stock Images by clicking through the various categories, or choose one of Your Images.&#xA0; Any image you have uploaded that is under 800 kb will be available, however,
    you can also upload a new image from this screen.&#xA0; Find the image you want to use and click on it.</p>

<p>
    <a href="//help.foliotek.com/media/8327/header background image selection.jpg" target="_blank"><img src="//help.foliotek.com/media/8327/header background image selection_534x423.jpg" width="534" height="423" alt="Header Background Image Selection" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4>Editing Header Backgrounds</h4>

<p>Position the image the way you want by clicking it and dragging it around. If you don&apos;t like the way it looks, select a different image by clicking the arrow next to the current one.&#xA0; There are several ways to edit the image for your header
    background.&#xA0; You can adjust the size using the slider, flip the image vertically and horizontally, and (if you selected a stock image) you may filter it to black and white or sepia.&#xA0; Once you have made all the edits you want, click Done.</p>

<p>
    <a href="//help.foliotek.com/media/8332/editing header background.jpg" target="_blank"><img src="//help.foliotek.com/media/8332/editing header background_535x284.jpg" width="535" height="284" alt="Editing Header Background" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>After you have made any additional edits to the style of your portfolio, click &apos;Apply&apos;.</p>

<p>
    <a href="//help.foliotek.com/media/8337/apply styles for header background.jpg" target="_blank"><img src="//help.foliotek.com/media/8337/apply styles for header background_535x330.jpg" width="535" height="330" alt="Apply Styles for Header Background" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}