---
title: Template Layouts - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Layout?</h3>



<p>The layout of a portfolio refers to the positioning of the various <a href="/presentation/design/styles-(boxes)" target="_blank" title="Styles (Boxes)">boxes</a> in the portfolio and the width of the body and menu/minor column.&#xA0; The Layout area can
    be accessed by clicking on the Design tab, selecting a custom template, and then clicking the &apos;Layout&apos; tab.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1308/design tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1308/design tab_528x144.jpg" width="528" height="144" alt="Design Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Structure of the Layout Tab</h3>

<p>The layout tab has three main functions.&#xA0; It is used to select the position of the <a href="/presentation/design/styles-(boxes)" target="_blank" title="Styles (Boxes)">boxes</a> in the portfolio, determine the width of the main body of the portfolio,
    and adjust the width of the menu/minor column.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1497/layout tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1497/layout tab_531x187.jpg" width="531" height="187" alt="Layout Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Box Position</h4>

<p>The <a href="/presentation/design/styles-(boxes)" target="_blank" title="Styles (Boxes)">box</a> position options provide twelve different choices as to the placement of the Main, Menu, and Minor boxes within the portfolio structure.&#xA0; When hovering
    over one of the options, a diagram will appear showing you the position of each box in that layout.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1502/box position options.jpg" target="_blank"><img src="//help.foliotek.com/media/1502/box position options_535x187.jpg" width="535" height="187" alt="Box Position Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>If you click on an option, the preview at the bottom will be adjusted to reflect the layout you have selected.&#xA0; You can continue selecting options until you find the one you like.&#xA0; The option that is currently displayed in the preview is denoted
    by an orange box.</p>

<p>&#xA0;</p>

<h4>Body Width</h4>

<p>The body width refers to the width of the main box in the portoflio.&#xA0; The width is automatically set based on the template you have chosen.&#xA0; This width can, however, be adjusted using the slider on the left at the bottom of the Layout tab.&#xA0;
    As you move the slider, the width of the Main box in the preview will adjust accordingly, allowing you to see how the width affects the rest of the portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1507/body width slider.jpg" target="_blank"><img src="//help.foliotek.com/media/1507/body width slider_534x177.jpg" width="534" height="177" alt="Body Width Slider" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Column Width</h4>

<p>The column width refers to the width of the Menu and Minor column in the portfolio.&#xA0; The width is automatically set based on the template you have chosen.&#xA0; This column width may need to be adjusted based on the length of page names or email
    addresses present in the Menu or Minor boxes.&#xA0; This width can be adjusted using the slider on the right at the bottom of the Layout tab.&#xA0; If a layout is selected in which the Menu and Minor boxes are horizontal, the column width slider will
    not be available as the width of these boxes will be equal to the body width of the Main box.&#xA0; As you move the slider, the width of the Menu and Minor column in the preview will adjust accordingly, allowing you to see how the width affects the
    rest of the portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1536/column width slider.jpg" target="_blank"><img src="//help.foliotek.com/media/1536/column width slider_534x177.jpg" width="534" height="177" alt="Column Width Slider" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Applying your Changes</h3>

<p>Once you are finished trying on different layouts and adjusting the body and column width, you can click &apos;Apply&apos; in the upper right corner to keep those changes to your portfolio.&#xA0; If you don&apos;t like the changes, simply click &apos;Close&apos;
    without clicking &apos;Apply&apos; and the changes will be discarded and you will be taken back to the main portfolio editor.&#xA0; If you click &apos;Apply&apos;, your changes will be kept and you will need to click &apos;Close&apos; to return to
    the main editor.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1573/apply layout changes.jpg" target="_blank"><img src="//help.foliotek.com/media/1573/apply layout changes_535x177.jpg" width="535" height="177" alt="Apply Layout Changes" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}