---
title: Custom Template Backgrounds - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Background?</h3>



<p>The background of the portfolio refers to the image that appears as the backdrop for the portfolio.&#xA0; It is automatically selected when you choose a template during the portfolio creation process.&#xA0; The background area can be accessed by clicking
    the Design tab and then on &quot;Background&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1308/design tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1308/design tab_528x144.jpg" width="528" height="144" alt="Design Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Structure of the Background Tab</h3>

<p>In the Background tab, you have the ability to select a new background image, set the overflow color, and choose a color scheme for the portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7927/change background.jpg" target="_blank"><img src="//help.foliotek.com/media/7927/change background_535x305.jpg" width="535" height="305" alt="Change Background" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Background Image</h4>

<p>The background image is automatically set when you select a template during the portfolio creation process.&#xA0; If you click the thumbnail of the current background image, you will open up the &apos;Images&apos; selection area.&#xA0; Once a new image
    is selected, the background thumbnail will update to show the new selected image.
</p>

<p>There are hundreds of stock images in 27 categories from which to choose.&#xA0; You can view the images in each category by clicking the category name and using the scroll bar on the right of the modal to see all of the images.&#xA0; If you click on an
    image, the background in the preview area changes so you can &apos;try it on&apos;.&#xA0; Click on as many images as you like, in as many categories as necessary to find one that you like.</p>

<p>You can also upload any image you want as the background of your presentation portfolio. To do this, choose the &quot;Your Images&quot; option from the left column and follow the steps to upload your own image.&#xA0; We recommend that your images be at
    least 1000 pixels wide and 800 pixels tall. Outside of that, keep the file size below 800 KB and you are off to the races.</p>

<p>You can also have no background image by clicking the &apos;Remove Background Image&apos; link next to the background image thumbnail.&#xA0; This action will use the Overflow color as the background.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7932/selecting background image.jpg" target="_blank"><img src="//help.foliotek.com/media/7932/selecting background image_532x364.jpg" width="532" height="364" alt="Selecting background image" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Overflow Color</h4>

<p>Some of the background images do not completely cover the background area.&#xA0; In those cases, the Overflow Color fills in the extra space.&#xA0; It can be selected, if necessary, by clicking on the color box and selecting a color from the color picker.&#xA0;
    Once you have selected the overflow color, click select to confirm it and close the color picker.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1679/overflow color.jpg" target="_blank"><img src="//help.foliotek.com/media/1679/overflow color_535x261.jpg" width="535" height="261" alt="Overflow Color" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Color Schemes</h4>

<p>The final option on the Background tab is to select the color scheme for the portfolio.&#xA0; When selecting a background image, a default color scheme is automatically selected.&#xA0; Along with that, a few other recommend color schemes appear at the
    bottom of the tab.&#xA0; For most images, you also have the option to select your own scheme.&#xA0; By clicking on the color box under &quot;pick your own color scheme&quot;, you can select the primary color for the scheme.&#xA0; The system then selects
    the complimentary colors to use in the portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1684/color schemes.jpg" target="_blank"><img src="//help.foliotek.com/media/1684/color schemes_535x267.jpg" width="535" height="267" alt="Color Schemes" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Applying your Changes</h3>

<p>Once you are happy with your selections, click the &apos;Apply&apos; button in the upper right corner of the screen to keep your selections.&#xA0; You then need to click &apos;Close&apos; to return to the editor.&#xA0; Clicking &apos;Close&apos; without
    clicking &apos;Apply&apos; first will remove any changes you have made and return you to the portfolio editor.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1689/apply background changes.jpg" target="_blank"><img src="//help.foliotek.com/media/1689/apply background changes_535x165.jpg" width="535" height="165" alt="Apply Background Changes" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}