---
title: Custom Template Font Styles - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What fonts can be set?</h3>



<p>Fonts for all areas of the portfolio can be set in the &apos;Styles&apos; area of the &apos;Design&apos; tab.&#xA0; Setting the fonts at this level can apply them to an entire portfolio or an individual <a href="/presentation/design/styles-(boxes)" target="_blank"
    title="Styles (Boxes)">box</a>.&#xA0; This is only available on Custom Templates and can be found by clicking the <a href="/presentation/design" target="_blank" title="Design">Design</a> tab in the portfolio editor tool bar.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1308/design tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1308/design tab_528x144.jpg" width="528" height="144" alt="Design Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Structure of the Styles Tab</h3>

<p>On the styles tab, you can select the <a href="/presentation/design/styles-(boxes)" target="_blank" title="Styles (Boxes)">box</a> on which you would like to work, make changes to the fonts, and edit the background, border, and shadow of that box. The
    font area is only available for editing when you have selected a box that can contain text. The shadow and rounded corners tools in the <a href="/presentation/design/styles-(formatting)" title="Styles (Formatting)">formatting area</a> are only available
    in the most recent versions of the major internet browsers.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1726/style tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1726/style tab_532x187.jpg" width="532" height="187" alt="Styles Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Setting the Fonts</h3>

<p>Fonts can be set at the portfolio level in the Styles area of the Design tab for <a href="/presentation/design/templates" target="_blank" title="Templates">Custom Templates</a>.&#xA0; If you select a particular box of the portfolio, you can set the font,
    color, size, letter spacing, and line height of all text in that box.&#xA0; Making these selections here, ensures that the text will be formatted the same for that box throughout the portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1779/styles - fonts.jpg" target="_blank"><img src="//help.foliotek.com/media/1779/styles - fonts_535x175.jpg" width="535" height="175" alt="Font Selection" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>There are 17 different fonts from which to choose, you can select from any color in the spectrum using the color picker, font sizes are available from 8 to 16, you can set the letter spacing from -5 to 20, and the line height can be adjusted from 0 to
    15.
</p>

<p>If you select a <a href="/presentation/design/templates" title="Templates">Basic Template</a>, these options are not available to you.&#xA0; Using a Basic Template, however, you can make some adjustments to font in the <a href="/presentation/content-editor"
    target="_blank" title="Content Editor">Content Editor</a>.</p>

<p>&#xA0;</p>

<h3>Applying your Changes</h3>

<p>Once you are happy with your selections, click the &apos;Apply&apos; button in the upper right corner of the screen to keep your selections. You then need to click &apos;Close&apos; to return to the editor. Clicking &apos;Close&apos; without clicking
    &apos;Apply&apos; first will remove any changes you have made and return you to the portfolio editor.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1761/apply styles.jpg" target="_blank"><img src="//help.foliotek.com/media/1761/apply styles_532x161.jpg" width="532" height="161" alt="Apply Styles" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}