---
title: Custom Template Formatting Styles - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What are the Format options?</h3>



<p>Several aspects of any box you select can be altered using the tools in the &apos;Styles&apos; area of the &apos;Design&apos; tab.&#xA0; You have the ablility to change the background color and transparency, the border, margins, corner shape, and shadow
    of any boxes in the portoflio.&#xA0; These features are only available with a <a href="/presentation/design/templates" target="_blank" title="Templates">Custom

Template</a> and can be found by clicking on the <a href="/presentation/design" target="_blank" title="Design">Design</a> tab in the portfolio editor tool bar.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1308/design tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1308/design tab_528x144.jpg" width="528" height="144" alt="Design Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Structure of the Styles Tab</h3>

<p>On the styles tab, you can select the box on which you would like to work, make changes to the fonts, and edit the background, border, and shadow of that box. The font area is only available for editing when you have selected a box that can contain text.
    The shadow and rounded corners tools in the formatting area are only available in the most recent versions of the major internet browsers.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1726/style tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1726/style tab_532x187.jpg" width="532" height="187" alt="Styles Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Format Options</h3>

<p>There are five main formatting options for boxes on a Custom Template.&#xA0; Each one can be set independently for each box in a portfolio, or you can set them for the entire portfolio.&#xA0; If you select a particular box and area of that box, these
    values will be determined only for that box and area.&#xA0; If you select &apos;Site&apos; and &apos;All Boxes&apos;, you can set these values for all boxes in the portfolio.</p>

<p>&#xA0;</p>

<h4>Background</h4>

<p>The background setting allows you to select a color for the background of the selected box.&#xA0; By clicking on the color box next to &apos;Background&apos;, you can open the color picker and select the background color you want.&#xA0; Using the &apos;Transparency&apos;
    slider, you can adjust the opaqueness of the background color.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1804/format - background.jpg" target="_blank"><img src="//help.foliotek.com/media/1804/format - background_535x267.jpg" width="535" height="267" alt="Format - Background" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Border</h4>

<p>The border setting allows you to add a border around the selected box.&#xA0; To make the border appear, select a color for the border, then change the size using the slider.&#xA0; You can choose which side(s) of the box you would like the border to appear
    and select from one of the four styles.&#xA0; You will instantly see these changes in the &apos;Preview&apos; area at the bottom of the screen, allowing you to make adjustments and see how they look.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1809/format - border.jpg" target="_blank"><img src="//help.foliotek.com/media/1809/format - border_534x270.jpg" width="534" height="270" alt="Format - Border" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Margin</h4>

<p>The margin settings allow you to adjust the spacing around or inside a selected box.&#xA0; The Top margin places more space above the box.&#xA0; The Bottom margin increases the space below the selected box.&#xA0; Changing the Inside margin, changes the
    space between the outside of the selected box and any text or other boxes that may be found inside that box.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1822/format - margin.jpg" target="_blank"><img src="//help.foliotek.com/media/1822/format - margin_534x345.jpg" width="534" height="345" alt="Format - Margin" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Rounded Corners</h4>

<p>The rounded corners tool is only available in the most recent versions of the major internet browsers.&#xA0; If you cannot change this setting, try updating your browser.&#xA0; This feature allows you to determine the roundness, if any, of the corners
    of the selected box.&#xA0; This is adjusted using the Rounded Corners slider.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1831/format - round corner.jpg" target="_blank"><img src="//help.foliotek.com/media/1831/format - round corner_535x348.jpg" width="535" height="348" alt="Format - Round Corners" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Shadows</h4>

<p>The shadow tool is only available in the most recent versions of the major internet browsers.&#xA0; If you cannot change this setting, try updating your browser.&#xA0; This feature allows you to place a shadow behind the selected box to provide some depth
    to your portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1840/format - shadow.jpg" target="_blank"><img src="//help.foliotek.com/media/1840/format - shadow_535x340.jpg" width="535" height="340" alt="Format - Shadow" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>With this tool you can select the color, size, and horizontal and vertical position of the shadow.&#xA0; To turn the shadow on you must click &apos;YES&apos; in the shadow section of the formatting area.&#xA0; Then you can set the color, size, and position.&#xA0;
    Clicking the arrow corresponding to &apos;Horizontal&apos;, &apos;Vertical&apos;, or &apos;Size&apos; will open up the sliders used to change these values.&#xA0; By changing the selections you can try out different combinations and view them in the
    &apos;Preview&apos; below the Design tab.&#xA0; If you decide you don&apos;t want a shadow, simply click &apos;No&apos; in the shadow section and the shadow will be removed.</p>

<p>&#xA0;</p>

<h3>Applying your Changes</h3>

<p>Once you are happy with your selections, click the &apos;Apply&apos; button in the upper right corner of the screen to keep your selections. You then need to click &apos;Close&apos; to return to the editor. Clicking &apos;Close&apos; without clicking
    &apos;Apply&apos; first will remove any changes you have made and return you to the portfolio editor.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1761/apply styles.jpg" target="_blank"><img src="//help.foliotek.com/media/1761/apply styles_532x161.jpg" width="532" height="161" alt="Apply Styles" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}