---
title: Account Settings - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    You can get to your account settings at any time through the black bar at the top of the screen.&#xA0; Click your username and choose &quot;Account Settings&quot;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6212/account settings location.jpg"><img src="//help.foliotek.com/media/6212/account settings location_531x193.jpg" width="531" height="193" alt="Account Settings Location" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Account Settings</h3>

<p>There are several functions found in the Account Settings area.&#xA0; Here you can update your profile information, , change your password, change your license or billing information, or cancel your account.</p>

<p>&#xA0;</p>

<h4>Updating Your Profile</h4>

<p>To update your username, name, or contact information, simply click in the boxes and edit the text.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2266/account1.png" target="_blank"><img src="//help.foliotek.com/media/2266/account1_534x96.jpg" width="534" height="96" alt="account1" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/3061/update profile.jpg" target="_blank"><img src="//help.foliotek.com/media/3061/update profile_534x222.jpg" width="534" height="222" alt="Update Profile" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Changing Your Password</h4>

<p>To change your password, type your current password into the &apos;Current Password&apos; box and type the password you wish to have in the &apos;New Password&apos; and &apos;Confirm Password&apos; boxes. Don&apos;t forget to click the check mark at the
    bottom of the screen to save any changes you make.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2271/account2.png" target="_blank"><img src="//help.foliotek.com/media/2271/account2_534x96.jpg" width="534" height="96" alt="account2" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/3056/change password.jpg" target="_blank"><img src="//help.foliotek.com/media/3056/change password_535x223.jpg" width="535" height="223" alt="Change Password" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Passwords must be a minimum of 7 characters in length.&#xA0; Any passwords containing 6 or fewer characters will not be accepted.&#xA0; For security purposes, it is advisable to use at least 1 capital letter, 1 lowercase letter, and 1 number in your password.
</p>

<p>&#xA0;</p>

<h4>Changing Your License and Billing</h4>

<p>If you would like to change your license to add more storage space, change the billing cycle, or cancel your account, click the &apos;Billing&apos; link.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/3127/change billing.jpg" target="_blank"><img src="//help.foliotek.com/media/3127/change billing.jpg" width="306" height="446" alt="Change Billing" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You may change your license by selecting the checkmark corresponding to the extension you wish to use. You then will need to re-enter your credit card information. Once all your information is filled out, click the check mark button to confirm the changes.&#xA0;If
    you wish to cancel your account, click the red button under the payment extension options.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/3132/billing license info.jpg" target="_blank"><img src="//help.foliotek.com/media/3132/billing license info_535x410.jpg" width="535" height="410" alt="Billing License Info" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}