---
title: Dashboard - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    The dashboard is the first thing that you see when you login to your Foliotek Presentation portfolio.&#xA0; From here you can edit your account, create a new portfolio, edit an existing portfolio, or view the communities in which you have shared your
    portfolio(s).
</p>

<p>
    <a href="//help.foliotek.com/media/33694/dashboard.jpg" target="_blank" title="The Dashboard"><img src="//help.foliotek.com/media/33694/dashboard_535x332.jpg" width="535" height="332" alt="The Dashboard" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h3>The Top Black Bar</h3>

<p>Since the top black bar is always visible from any page in your portfolio, you can access your dashboard, <a href="/presentation/identity-page" target="_blank" title="Identity Page">identity page</a>, portfolios list, communities, <a href="/presentation/files/file-manager"
    target="_blank" title="File Manager">files manager</a>, and our help system at any time. &#xA0;You also have links for editing your account, signing out, and chatting with our support team.</p>

<p>
    <a href="//help.foliotek.com/media/33699/the top black bar.jpg" target="_blank" title="The Top Black Bar"><img src="//help.foliotek.com/media/33699/the top black bar_535x182.jpg" width="535" height="182" alt="The Top Black Bar" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Editing Your Account</h4>

<p>To edit your account click your username in the upper right corner and choose &quot;Account Settings&quot;.</p>

<p>
    <a href="//help.foliotek.com/media/33709/account settings.jpg" target="_blank" title="Account Settings"><img src="//help.foliotek.com/media/33709/account settings_531x177.jpg" width="531" height="177" alt="Account Settings" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Please see <a href="/presentation/management/account-settings" target="_blank" title="Account Settings">Account Settings</a> for more information on the available options.</p>

<p>&#xA0;</p>

<h4>Signing Out</h4>

<p>To sign out of your portfolio, click your username in the upper right corner and choose &quot;Logout&quot;.</p>

<p>
    <a href="//help.foliotek.com/media/33719/sign out.jpg" target="_blank" title="Signing Out"><img src="//help.foliotek.com/media/33719/sign out_535x175.jpg" width="535" height="175" alt="Sign Out" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Files Manager</h4>

<p>The <a href="/presentation/files/file-manager" target="_blank" title="File Manager">files manager</a> can be accessed from anywhere using the folder icon in the top black bar.</p>

<p>
    <a href="//help.foliotek.com/media/33724/files manager.jpg" target="_blank" title="Files Manager"><img src="//help.foliotek.com/media/33724/files manager_535x102.jpg" width="535" height="102" alt="Files Manager" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Communities</h4>

<p>The <a href="/presentation/sharing/community" target="_blank" title="Community">communities</a> area can be reached using the three-person icon in the top black bar.</p>

<p>
    <a href="//help.foliotek.com/media/33729/communities area.jpg" target="_blank" title="Communities Area"><img src="//help.foliotek.com/media/33729/communities area_535x118.jpg" width="535" height="118" alt="Communities Area" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>ePortfolios</h4>

<p>The portfolio button in the top black bar takes you to the ePortfolios Manager.</p>

<p>
    <a href="//help.foliotek.com/media/33734/eportfolios area.jpg" target="_blank" title="ePortfolios Area"><img src="//help.foliotek.com/media/33734/eportfolios area_535x110.jpg" width="535" height="110" alt="ePortfolios Area" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Identity Page</h4>

<p>To work with your <a href="/presentation/identity-page/what-is-the-identity-page" target="_blank" title="What is the Identity Page?">Identity page</a>, use the person icon in the top black bar.</p>

<p>
    <a href="//help.foliotek.com/media/33739/identity page area.jpg" target="_blank" title="Identity Page Area"><img src="//help.foliotek.com/media/33739/identity page area_535x127.jpg" width="535" height="127" alt="Identity Page Area" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>The Main Dashboard</h3>

<p>The main dashboard area contains sections for your identity page, ePortfolios, and communities.&#xA0; The screenshot of your Identity page is your access to the Identity page manager.&#xA0; You can use the URL to share your identity with others.&#xA0;
    In the ePortfolios manager, you can access the portfolio editor and manage your portfolios.&#xA0; The communities manager shows you how many communities you&apos;ve joined and gives you access to the communites area.</p>

<p>&#xA0;</p>

<h4>Identity Page Manager</h4>

<p>From this section of the dashboard you can access the <a href="/presentation/identity-page" target="_blank" title="Identity Page">identity page editor</a>.&#xA0; The editor bar on the screenshot holds the button that takes you to the editor and displays
    the URL for your identity page.&#xA0; Clicking on the URL takes you to the published version of your identity.&#xA0; You can share this URL with others if you want them to see your identity.
</p>

<p>
    <a href="//help.foliotek.com/media/33744/identity page dashboard section.jpg" target="_blank" title="Identity Page Dashboard Section"><img src="//help.foliotek.com/media/33744/identity page dashboard section_535x299.jpg" width="535" height="299" alt="Identity Page Dashboard Section" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4>ePortfolios Manager</h4>

<p>The ePortfolio Manager shows you the number of portfolios you have created.&#xA0; From here you can create a new portfolio or manage the portfolio(s) you have already created.</p>

<p>
    <a href="//help.foliotek.com/media/33749/eportfolios dashboard section.jpg" target="_blank" title="ePortfolios Dashboard Section"><img src="//help.foliotek.com/media/33749/eportfolios dashboard section_530x310.jpg" width="530" height="310" alt="ePortfolios Dashboard Section" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Communities Manager</h4>

<p>The Communities Manager gives you information on the number of communities you have joined.&#xA0; From here you can join a new community or manage the communities you have already joined.</p>

<p>
    <a href="//help.foliotek.com/media/34042/communities dashboard manager.jpg" target="_blank" title="Communities Dashboard Manager"><img src="//help.foliotek.com/media/34042/communities dashboard manager_534x371.jpg" width="534" height="371" alt="Communities Dashboard Manager" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}