---
title: ePortfolios Manager 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    The ePortfolio Manager shows you the number of portfolios you have created.&#xA0; From here you can create a new portfolio or manage the portfolio(s) you have already created.</p>

<h3>The ePortfolio Creation Tool</h3>

<p>The + sign on the dashboard in the ePortfolio Manager takes you to the portfolio creation tool.</p>

<p>
    <a href="//help.foliotek.com/media/34355/eportfolio create button.jpg" target="_blank" title="ePortfolio Create Button"><img src="//help.foliotek.com/media/34355/eportfolio create button_395x323.jpg" width="395" height="323" alt="ePortfolio Create Button" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Creating an ePortfolio</h4>

<p>The first step in creating a new portfolio is to select a background.&#xA0; Use the arrows to scroll through all the choices.&#xA0; &apos;Try on&apos; as many as you like, when you click on one the portfolio at the bottom of the screen changes to use
    the new background.
</p>

<p>
    <a href="//help.foliotek.com/media/34340/portfolio create - background.jpg" target="_blank" title="Select a Background"><img src="//help.foliotek.com/media/34340/portfolio create - background_393x115.jpg" width="393" height="115" alt="Select a Background" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>Once you have selected a background, you need to decide which template to use.&#xA0; There are stock templates to choose from for job hunting, seeking internships, or just tracking your learning.&#xA0; If you are associated with a college or university,
    you may have templates that are designated by your school for use.&#xA0; You can also start from scratch by selecting the Blank ePortfolio template.</p>

<p>
    <a href="//help.foliotek.com/media/34345/choosing a content template.jpg" title="Choosein a Content Template"><img src="//help.foliotek.com/media/34345/choosing a content template_395x170.jpg" width="395" height="170" alt="Choosing a Content Template" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>The last step is to name the portfolio.&#xA0; Once you finish that task, a check mark button will appear. Simply click on the check mark to finish creating the portfolio.</p>

<p>
    <a href="//help.foliotek.com/media/34350/name and create the portfolio.jpg" target="_blank" title="Name and Create the Portfolio"><img src="//help.foliotek.com/media/34350/name and create the portfolio_394x269.jpg" width="394" height="269" alt="Name and Create the Portfolio" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>The portfolio you created will now be opened in the <a href="/presentation/content-editor" title="Content Editor">content

editor</a>.&#xA0;Here you can add your unique content and further style the portfolio to look the way you want it to look.</p>

<p>&#xA0;</p>

<h3>Your ePortfolios List</h3>
{% endblock contents %}