---
title: Editing an Electronic Portfolio - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    There are five areas that are editable in the Content Editor.&#xA0;&#xA0; These areas are the Header area which contains the title and subtitle of the portfolio, the Main area which contains the actual text, videos, images, or gizmos in the portfolio,
    the Minor area which contains the &apos;About Me&apos; or &apos;Profile&apos; information when you first create a portfolio, the Menu area which contains links to the other pages of the portfolio, and the Footer area which can contain any information
    you wish to place there.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34677/editable areas.jpg" target="_blank" title="Editable Areas"><img src="//help.foliotek.com/media/34677/editable areas_394x308.jpg" width="394" height="308" alt="Editable Areas" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>These areas can contain text, images, video, and any of the <a href="/presentation/gizmos" target="_blank" title="Gizmos">gizmos</a>.&#xA0; You can <a href="/presentation/content-editor/fonts-formatting" title="Fonts &amp; Formatting">format</a> the text
    in each area using the content editor to make individual changes.&#xA0; By clicking on the <a href="/presentation/design" target="_blank" title="Design">Design tab</a>, you can access the
    <a href="/presentation/design/styles-(formatting)" target="_blank" title="Styles (Formatting)">Styles</a> area where you can apply changes to one or all of the areas at once.</p>
{% endblock contents %}