---
title: Adding and Editing Images - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    Any type of image file can be added to your portfolio.&#xA0; You can add images from your &apos;<a href="/presentation/files/file-storage" title="File Storage">Files</a>&apos; area or directly from the internet using the URL for the image you want
    to add.</p>

<h4>Adding Images</h4>

<p>There are two ways to add images to your portfolio.&#xA0; You can learn how to add images in the <a href="/presentation/files/adding-files" title="Adding Files">Adding Files</a> or <a href="/presentation/gizmos/image-gizmo" title="Image Gizmo">Image Gizmo</a>    sections.
</p>

<h4>Editing Images<a href="//help.foliotek.com/media/7943/image controls.jpg" target="_blank"><img src="//help.foliotek.com/media/7943/image controls.jpg" width="237" height="392" alt="Image Controls" style="float: right;"></a></h4>

<p>If you would like to make adjustments to any image in your portfolio, double click on the image you would like to format to open the Image Controls.&#xA0; The Image Control panel allows you to make several adjustments and add some styling to your image.</p>

<h4>Remove Image</h4>

<p>The &apos;remove image&apos; link will remove the image from your portfolio.&#xA0; Once this is done, it cannot be undone.&#xA0; You will have to re-add the image to bring it back.</p>

<h4>Size</h4>

<p>The slider under &apos;SIZE&apos; allows you to change the size of your image. &#xA0;100% is the original size and anything smaller is just a reduced, proportionate size.</p>

<h4>Caption</h4>

<p>This allows you to insert text into the caption text box that will become the caption for the image.&#xA0; Captions are displayed under the image, separate from other text on the page.</p>

<h4>Link Url</h4>

<p>By inserting a web link into the Link Url box, users will be taken to the desired web address when they click on the image.</p>

<p>Turning on &apos;link to original&apos; will link your image to the original. &#xA0;When users click the image, they will be given a full sized copy of your image.</p>

<p>&#xA0;</p>

<h4>Outer Spacing<span><a href="//help.foliotek.com/media/7948/image controls-spacing.jpg" target="_blank"><img src="//help.foliotek.com/media/7948/image controls-spacing.jpg" width="237" height="358" alt="Image Controls-Spacing" style="float: right;"></a></span></h4>

<p>Under &apos;SPACING&apos;, you see options for margin, snap to edge, and word wrap.</p>

<ul>
    <li><span>Margin</span> is the space between the image and everything else on the page. &#xA0;The margin will be equally increased around all sides of the image. <span></span></li>

    <li><span>Turning on &apos;<span>snap to edge&apos;</span> will allow the image to snap to the edge of the content box (outlined in green in the editor), ignoring any margin on that side.</span>
    </li>

    <li><span>W<span>ord wrap</span> allows for text to be beside the image. &#xA0;When word wrap is off, the entire line where the image is placed cannot have text on it.</span>
    </li>
</ul>

<p>&#xA0;</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4><span>Image Border</span><a href="//help.foliotek.com/media/7953/image controls-border.jpg" target="_blank"><img src="//help.foliotek.com/media/7953/image controls-border.jpg" width="237" height="399" alt="Image Controls-Border" style="float: right;"></a></h4>

<p><span>The &apos;BORDER&apos; features allows you to add a border around an

image and adjust the size, color, style, and padding of that

border.</span></p>

<ul>
    <li>Size allows you to change the thickness of your border. &#xA0;The larger the size, the thicker the border will be.
        <span></span></li>

    <li><span>Color</span> allows you to set the color for your border.&#xA0; You can choose the color by using the selector that pops up. &#xA0;The left most box allows you to choose a shade of a color, while the slider to the right of that box allows you
        to choose the starting color.</li>

    <li>There are four border styles to choose from<span>:</span>
        <span>single line, double line, dotted line, and dashed

line</span>. &#xA0;Choosing a style will change the look of the border around the entire image.</li>

    <li><span>Padding</span> allows you to put space between the border and the image. &#xA0;The greater this number, the larger the space. &#xA0;Just as in margin, this space is distributed evenly to all sides of the image.</li>
</ul>

<p>&#xA0;</p>

<h4>Set As Default</h4>

<p>If you plan on using a particular formatting multiple times, you may choose to set the style as your default. &#xA0;This will format any pictures that you add to your portfolio the same way as this image. &#xA0;If you wish to change certain aspects of
    the different images, you may do that also. &#xA0;Doing so will not affect the original image. &#xA0;Select &apos;Apply Default&apos; to apply the default formatting to an image.</p>
{% endblock contents %}