---
title: Saving Content - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    To save your portfolio, while in the editor click the &apos;Save&apos; button in the upper right corner.&#xA0; This saves the changes you have made to the draft version but will not publish the changes to your shared portfolio.</p>

<p>
    <a href="//help.foliotek.com/media/34666/saving.jpg" target="_blank" title="Saving a Portfolio"><img src="//help.foliotek.com/media/34666/saving_392x150.jpg" width="392" height="150" alt="Saving a Portfolio" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>In order to publish the changes to your shared portfolio, click the &apos;merge w/ shared&apos; link to the right of the &apos;Save&apos; button.&#xA0; When there are changes that need to be merged, the &apos;merge w/shared&apos; will turn orange.&#xA0;
    The first time you work on your portfolio, a pop up will appear instructing you on the save and merge procedure.
</p>
{% endblock contents %}