---
title: Videos 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    Any type of video file can be added to your portfolio. &#xA0;You can add videos from your &apos;<a href="/presentation/files/file-storage" target="_blank" title="File Storage">Files</a>&apos; area or directly from YouTube, Blip, Vimeo, Google Video,
    or TeacherTube using the URL for the video you want to add.</p>

<p>&#xA0;</p>

<h3>Adding Videos</h3>

<p>There are two ways to add videos to your portfolio.&#xA0; You can learn how to add videos in the <a href="/presentation/files/adding-files" target="_blank" title="Adding Files">Adding Files</a> or <a href="/presentation/gizmos/video-gizmo" target="_blank"
    title="Video Gizmo">Video

Gizmo</a> sections.</p>

<p>&#xA0;</p>

<h3>Editing Images</h3>

<p>If you would like to make adjustments to any video in your portfolio, double click on the video you would like to format.&#xA0; This will open up the Video Control panel for the video you are wanting to format.&#xA0; The Video Control panel allows you
    to make several adjustments and add some styling to your video.
</p>

<p>&#xA0;</p>

<h4>Remove Video<img src="//help.foliotek.com/media/6303/video controls.jpg" width="213" height="449" alt="Video Controls" style="float: right; margin-left: 5px; margin-right: 5px;"></h4>

<p>The &apos;remove video&apos; link will remove the video from your portfolio.&#xA0; Once this is done, it cannot be undone.&#xA0; You will have to re-add the video&#xA0;to bring it back.</p>

<h4>Caption</h4>

<p>This allows you to insert text into the caption text box that will become the caption for the video.&#xA0; Captions are displayed under the video, separate from other text on the page.</p>

<h4>Size</h4>

<p>The slider under &apos;SIZE&apos; allows you to change the size of your video. &#xA0;100% is the original size and any thing smaller is just a reduced, proportionate size.</p>

<h4>Spacing</h4>

<p>Under &apos;SPACING&apos;, you see options for margin, snap to edge, and word wrap.</p>

<ul>
    <li>Margin is the space between the video&#xA0;and everything else on the page. &#xA0;The margin will be equally increased around all sides of the video.</li>

    <li>Turning on &apos;snap to edge&apos; will allow the video&#xA0;to snap to the edge of the content box (outlined in green in the editor), ignoring any margin on that side.</li>

    <li>Word wrap allows for text to be beside the video. &#xA0;When word wrap is off, the entire line where the video&#xA0;is placed cannot have text on it.</li>
</ul>

<h4>Border</h4>

<p>The &apos;BORDER&apos; features allows you to add a border around an video&#xA0;and adjust the size, color, style, and padding of that border.
</p>

<ul>
    <li>Size allows you to change the thickness of your border. &#xA0;The larger the size, the thicker the border will be.</li>

    <li>Color allows you to set the color for your border.&#xA0; You can choose the color by using the selector that pops up. &#xA0;The left most box allows you to choose a shade of a color, while the slider to the right of that box allows you to choose the
        starting color.
    </li>

    <li>There are four border styles to choose from: single line, double line, dotted line, and dashed line. &#xA0;Choosing a style will change the look of the border around the entire video.</li>

    <li>Padding allows you to put space between the border and the video. &#xA0;The greater this number, the larger the space. &#xA0;Just as in margin, this space is distributed evenly to all sides of the video.</li>
</ul>

<p>&#xA0;</p>

<h4>Set As Default</h4>

<p>If you plan on using a particular formatting multiple times, you may choose to set the style as your default. &#xA0;This will format any video&#xA0;that you add to your portfolio the same way as this video. &#xA0;If you wish to change certain aspects
    of the different video, you can do that also. &#xA0;Doing so will not affect the original video.</p>
{% endblock contents %}