---
title: Copy, Delete, and Rename Pages - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    If you would like to copy, delete, or rename a page in your portfolio, open the Pages tab to locate these options.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2083/pages tab.jpg" target="_blank"><img src="//help.foliotek.com/media/2083/pages tab_534x239.jpg" width="534" height="239" alt="Pages Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Copying a Portfolio Page</h3>

<p>To make a copy of a page, hover over or click on the name of the page you wish to make a copy of, then click on &apos;copy&apos; when it appears to the right of the name.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2261/copy.jpg" target="_blank"><img src="//help.foliotek.com/media/2261/copy_535x278.jpg" width="535" height="278" alt="Copy" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>A new page will appear in the <a href="/presentation/pages/live-vs-draft" target="_blank" title="Live vs Draft">Draft Pages</a> list with the same name as the page you copied.&#xA0; You&apos;ll know which one it is because you will see &apos;(Copy)&apos;
    after the name.&#xA0; Now you can begin working on that page.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2276/copied page.jpg" target="_blank"><img src="//help.foliotek.com/media/2276/copied page_535x305.jpg" width="535" height="305" alt="Copied Page" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Deleting a Page</h3>

<p>Deleting an unwanted page is easy.&#xA0; Simply, hover over or click on the name of the page you wish to delete and click the &apos;delete&apos; link to the right of the page name.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2443/delete option.jpg" target="_blank"><img src="//help.foliotek.com/media/2443/delete option_531x316.jpg" width="531" height="316" alt="Delete Page Option" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Restoring a Deleted Page</h4>

<p>Once you delete a page it disappears from the list of Draft Pages and, if it had been <a href="/presentation/pages/sharing-pages" target="_blank" title="Sharing Pages">shared</a>, from the list of
    <a href="/presentation/pages/live-vs-draft" target="_blank" title="Live vs Draft">Live Pages</a>.&#xA0; If you later decide you want that page back, you can restore it.&#xA0; To do this, click the &apos;show deleted pages&apos; link at the top of
    the Draft Pages list; this link is only active once you have deleted at least one page.&#xA0; This will let you see all of the pages that have previously been deleted.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2457/show deleted pages.jpg" target="_blank"><img src="//help.foliotek.com/media/2457/show deleted pages_534x342.jpg" width="534" height="342" alt="Show Deleted Pages" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Any deleted pages will now be visible, they are shown in a lighter font color and have &apos;[removed]&apos; next to the name.&#xA0; Hover over or click on the name then click on &apos;restore&apos; and bring the page back.&#xA0; If you click on the name,
    you can also click on &apos;Restore Page&apos; in the center of the Pages area to bring the page back.&#xA0; Now, you can edit it just as before and then publish it for the world to see.&#xA0; If you don&apos;t want to see the deleted pages anymore,
    click on the &apos;hide deleted pages&apos; link to remove them from view.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2470/restoring deleted pages.jpg" target="_blank"><img src="//help.foliotek.com/media/2470/restoring deleted pages_533x353.jpg" width="533" height="353" alt="Restoring Deleted Pages" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Renaming a Page</h3>

<p>If you ever want to rename a page, simply click on the page name in the Draft Pages list and then change the name in the text box in the center column of the Pages area.&#xA0; You will see the name change as you type.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2475/renaming page.jpg" target="_blank"><img src="//help.foliotek.com/media/2475/renaming page_535x332.jpg" width="535" height="332" alt="Renaming Pages" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Saving the Changes</h3>

<p>Once you have made the desired changes, be sure to click the &apos;Save&apos; button in the upper right corner to keep the changes you have made.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2480/saving changes.jpg" target="_blank"><img src="//help.foliotek.com/media/2480/saving changes_531x342.jpg" width="531" height="342" alt="Saving Changes" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}