---
title: Nesting Pages 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What are Nested Pages?</h3>



<p>Nested pages, or sub pages, are an excellent way for you to have a large number of pages without the additional pages mucking up the simplicity of your navigation. Viewers of your portfolio will then be able to expand and collapse your listing of nested
    pages. Keep it simple and enjoy adding additional content to your portfolio.
</p>

<p>&#xA0;</p>

<h4>Using Nested Pages</h4>

<p>To nest pages, you&apos;ll need to zoom over to the pages tab. From here, on the draft pages side, click the orange arrow to the left of the page you want to nest. Clicking the arrow will make that page a child of the page directly above it. Currently,
    you can only nest one level below your top level. After your pages are nested, nested pages will appear directly below their parent page and somewhat indented.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7911/nest pages.jpg" target="_blank"><img src="//help.foliotek.com/media/7911/nest pages_534x286.jpg" width="534" height="286" alt="Nest Pages" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>To un-nest, click the arrow again.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7916/unnest pages.jpg" target="_blank"><img src="//help.foliotek.com/media/7916/unnest pages_535x289.jpg" width="535" height="289" alt="Unnest Pages" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}