---
title: Add Pages to and Electronic Portfolio - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    New pages can be created in the Pages tab.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2083/pages tab.jpg" target="_blank"><img src="//help.foliotek.com/media/2083/pages tab_534x239.jpg" width="534" height="239" alt="Pages Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Creating a New Page</h3>

<p>Once you are in the Pages tab, click &apos;create new&apos; to begin the process of creating a new page.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2088/create new page.jpg" target="_blank"><img src="//help.foliotek.com/media/2088/create new page_535x292.jpg" width="535" height="292" alt="Create New Page" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>A modal will open up that asks you to give the page a name and select a page type.&#xA0; There are two options for page type:&#xA0; Empty Content Page and Copy From Another Portfolio.&#xA0; An empty content page is just that, empty.&#xA0; It doesn&apos;t
    have any content in it and allows you to create a page from scratch.&#xA0; If you copy a page from another portfolio, either an Assessment portfolio or another Presentation portfolio, that page will contain the information on the page you copied it
    from.&#xA0; Once you&apos;ve done these two things, click &quot;Add Page&quot; to finish the creation.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2223/new page options.jpg" target="_blank"><img src="//help.foliotek.com/media/2223/new page options_535x288.jpg" width="535" height="288" alt="New Page Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You&apos;ll find your new page listed at the bottom of your <a href="/presentation/pages/live-vs-draft" target="_blank" title="Live vs Draft">Draft Pages</a> list on the left side of the open Pages tab.&#xA0; The page will also be displayed in the
    <a
    href="/presentation/content-editor" title="Content Editor">editor</a>, toward the bottom of the screen, and you can begin working on it.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2228/created page labeled.jpg" target="_blank"><img src="//help.foliotek.com/media/2228/created page labeled_535x474.jpg" width="535" height="474" alt="Created Page" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Saving the Changes</h3>

<p>Once you have added your desired pages, be sure to click the &apos;<a href="/presentation/content-editor/saving" target="_blank" title="Saving">Save</a>&apos; button in the upper right corner to keep the changes you have made.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2480/saving changes.jpg" target="_blank"><img src="//help.foliotek.com/media/2480/saving changes_531x342.jpg" width="531" height="342" alt="Saving Changes" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}