---
title: Reordering Pages - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    Reordering pages is very easy.&#xA0; Hover over the area in the
    <a href="/presentation/pages/live-vs-draft" target="_blank" title="Live vs Draft">Draft Pages</a> section just in front of the page name.&#xA0; When you do this, a directional cross will appear.&#xA0; Click and hold the left mouse button and drag
    the page up or down, when you have it where you want it, let go and the pages will be reordered.&#xA0; If you have already shared these pages, the order will be changed in the <a href="/presentation/pages/live-vs-draft" target="_blank" title="Live vs Draft">Live Pages</a>    list and in the shared portfolio, too.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2537/reordering pages.jpg" target="_blank"><img src="//help.foliotek.com/media/2537/reordering pages_535x316.jpg" width="535" height="316" alt="Reordering Pages" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}