---
title: Adding Files to an Electronic Portfolio - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    The Files area of your Foliotek Presentation account acts as a repository for any files you wish to upload.&#xA0; It can store documents, images, videos, and links to websites.&#xA0; There are two ways you can add files:&#xA0; by emailing them to your
    account or directly uploading them into your account.</p>

<p>&#xA0;</p>

<h3>Adding Files via Email</h3>

<p>You may add files to your file storage area by emailing them to
    <a href="mailto:add@files.foliotek.com">add@files.foliotek.com</a>. &#xA0;To do this, open an email, attach which ever files you would like to add to your storage and send it to <a href="http://mce_host/add@files.foliotek.com">add@files.foliotek.com</a>.
    &#xA0;You must send the email from the email address listed in your account. If you don&apos;t, the system won&apos;t add the files to your account.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7395/email files.jpg" target="_blank"><img src="//help.foliotek.com/media/7395/email files.jpg" width="296" height="399" alt="Email Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Adding Files to File Storage</h3>

<p>To add files to your Foliotek file storage area while working inside a portfolio, click on the &apos;Files&apos; tab and then the orange &quot;Add Files&quot; button to the left side of the screen.&#xA0; To do this outside of a portfolio, click the &apos;Files&apos;
    link in the top black bar to go to the <a href="/presentation/files/file-manager" target="_blank" title="File Manager">file manager</a>.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2706/files1.png" target="_blank"><img src="//help.foliotek.com/media/2706/files1_532x214.jpg" width="532" height="214" alt="files1" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>A dialog box will now appear with options for &quot;My Computer&quot;, &quot;Zip File&quot;, and &quot;Web Resource&quot; on the left side. &#xA0;To add files that are on your computer, choose &quot;My Computer&quot;, click &quot;Choose files&quot;, use
    the browser to select the file(s) you wish to add.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2711/files2.png" target="_blank"><img src="//help.foliotek.com/media/2711/files2_532x241.jpg" width="532" height="241" alt="files2" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You may now click the &quot;Add File(s)&quot; button and the system will put the files in your storage area.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2716/files2.png" target="_blank"><img src="//help.foliotek.com/media/2716/files2_532x241.jpg" width="532" height="241" alt="files2" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Adding Zip Files</h4>

<p>If you have a compressed zip folder of files you would like to add, you may add the entire folder at once by clicking &quot;Zip File&quot; and using the browser to find the zipped file(s).</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2769/files6.png" target="_blank"><img src="//help.foliotek.com/media/2769/files6_535x271.jpg" width="535" height="271" alt="files6" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You may now click the &quot;Add File(s)&quot; button just as if you were uploading a single document.</p>

<p>&#xA0;</p>

<h4><span>Adding Web Resources</span></h4>

<p>To use a file that is on a different web page, you may click &quot;Web Resource&quot; then copy the URL into the URL box and put the name you would like the file to have in the &quot;Friendly Name&quot; box. &#xA0;If you wish to add multiple web resources,
    you may click the &quot;Add Another&quot; link under &quot;Friendly Name&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2774/files67.png" target="_blank"><img src="//help.foliotek.com/media/2774/files67_535x288.jpg" width="535" height="288" alt="files67" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You may now click the &quot;Add Web Resource(s)&quot; button and the resource will be available in your file storage area.</p>

<p>&#xA0;</p>

<h4>After Your Upload</h4>

<p>Your file storage area will now have &quot;Uploads&quot; selected. &#xA0;To view all files again, instead of your recent uploads, click &quot;All&quot; in the tab list.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2721/files3.png" target="_blank"><img src="//help.foliotek.com/media/2721/files3_535x225.jpg" width="535" height="225" alt="files3" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Adding Files From File Storage to a Presentation</h3>

<p>To add a file in your file storage area to your presentation portfolio you need to first find the file that you want. &#xA0;You can do this by browsing your files or searching using the search bar located to the top right of the files section.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2726/files4.png" target="_blank"><img src="//help.foliotek.com/media/2726/files4_531x209.jpg" width="531" height="209" alt="files4" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Now that you have found your file, click the title to select it and your mouse will be tailed by the file name.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2736/files5.png" target="_blank"><img src="//help.foliotek.com/media/2736/files5_535x379.jpg" width="535" height="379" alt="files5" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Click where you would like to have the file located and a link will appear that connects to that document, image, video, or website.
</p>
{% endblock contents %}