---
title: Editing Files - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    To start using files in your Foliotek Presentation, first open a portofolio, then click the &quot;FILES&quot; button on the editing bar.</p>

<p>&#xA0;</p>

<h3>What Does It Mean To Edit Files?</h3>

<p>In Foliotek, uploading your document does not have to be the end of editing that document.&#xA0; If you want to change the contents of the document and re-upload the document, you can do that. &#xA0;You can also rename the document directly from the file
    storage area.</p>

<p>&#xA0;</p>

<h3>Replacing Files</h3>

<p>If you have a file that you previously uploaded, but have made changes to on your computer, you can replace the previously uploaded one, with the new updated file. &#xA0;To do this, go to the file storage area, mouse over the file you wish to replace,
    and click &quot;edit&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2809/ef1.png" target="_blank"><img src="//help.foliotek.com/media/2809/ef1_530x241.jpg" width="530" height="241" alt="ef1" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>After clicking &quot;edit&quot;, click &quot;REPLACE FILE&quot; under the file name. &#xA0;A window will pop up allowing you to choose the file you wish to upload in its place.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2814/ef2.png" target="_blank"><img src="//help.foliotek.com/media/2814/ef2_533x251.jpg" width="533" height="251" alt="ef2" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Click OK and the file will be replaced.</p>

<p>&#xA0;</p>

<h3>Renaming A File</h3>

<p>If you wish to rename a file you have uploaded to your portfolio, you may do this from the file storage area. &#xA0;To do this, go to the file storage area, mouse over the file you wish to rename, and click &quot;edit&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2809/ef1.png" target="_blank"><img src="//help.foliotek.com/media/2809/ef1_530x241.jpg" width="530" height="241" alt="ef1" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You may now type a new name for your file in the text box; click &quot;DONE&quot; when completed.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2819/ef3.png" target="_blank"><img src="//help.foliotek.com/media/2819/ef3_533x251.jpg" width="533" height="251" alt="ef3" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}