---
title: File Manager - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the File Manager?</h3>



<p>The file manager is used to upload and organize the files in your Foliotek Presentation account.&#xA0; With the manager, you can upload new files, create folders and subfolders, place files in folders to better organize your files area, download files
    to your computer, search for uploaded files, determine the amount of storage space remaining in your account, and remove unnecessary files.&#xA0; You can access the file manager by clicking the &apos;Files&apos; link in the top black bar at any time.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6016/files manager.jpg" target="_blank"><img src="//help.foliotek.com/media/6016/files manager_531x246.jpg" width="531" height="246" alt="Files Manager" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Management Tools</h3>

<p>There are several management tools available in the File Manager.&#xA0; They are located at the top of the screen just below the top black bar.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6027/management tools.jpg" target="_blank"><img src="//help.foliotek.com/media/6027/management tools_535x118.jpg" width="535" height="118" alt="Management Tools" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Uploading a File</h4>

<p>To upload a file, click the &apos;+&apos; Upload Files button on the left hand side of your screen.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6032/upload files.jpg" target="_blank"><img src="//help.foliotek.com/media/6032/upload files_341x184.jpg" width="341" height="184" alt="Upload Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>When you click on the upload button, a browser will open up and you will be able to search your computer for the file you need.&#xA0; Once you select the file, click open and the file will appear in the list of files on your screen.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6047/click here message.jpg" target="_blank"><img src="//help.foliotek.com/media/6047/click here message_535x134.jpg" width="535" height="134" alt="Click Here Message" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Creating a New Folder</h4>

<p>Creating new folders is done by clicking the &apos;New Folder&apos; button in the Managament Tools area.&#xA0; When you click the button, a small window pops up and asks you to name the folder.&#xA0; Clicking &apos;OK&apos; places the new folder alphabetically
    into your folders section.&#xA0; You will see it appear instantly.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6052/new folder tool.jpg" target="_blank"><img src="//help.foliotek.com/media/6052/new folder tool_533x219.jpg" width="533" height="219" alt="New Folder Tool" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Moving Files and Folders</h4>

<p>There are a few ways you can move files and folders around to better organize your &apos;Files&apos; area.&#xA0; One option is to use the &apos;Move Selected&apos; tool at the top of the &apos;Files&apos; area.&#xA0; Once you have checked the box next
    to the files you wish to move, simply click on the &apos;Move Selected&apos; button, choose the appropriate folder from the drop down list that appears in the pop up window and click the check mark.&#xA0; The selected files will move into the chosen
    folder.&#xA0; If the file is located inside a folder, one option will be &apos;Up one level&apos;.&#xA0; Selecting this option will move the file(s) up to the next folder or back into the files area.</p>

<p>&#xA0;</p>

<p style="text-align: center;">
    <a href="//help.foliotek.com/media/6063/move selected button.jpg" target="_blank"><img src="//help.foliotek.com/media/6063/move selected button_533x278.jpg" width="533" height="278" alt="Move Selected Button"></a>
</p>

<p style="text-align: left;">&#xA0;</p>

<p style="text-align: left;">You can also move files and/or folders into other folders by clicking on the name of the file or folder.&#xA0; When this is done, a few options appear beneath the name of the file/folder.&#xA0; If you click on &apos;move&apos;, the same pop up appears
    as above and you can move the selected file/folder to another location.&#xA0; This method only moves one file or folder at a time.</p>

<p style="text-align: left;">&#xA0;</p>

<p style="text-align: left;">
    <a href="//help.foliotek.com/media/6068/move with click.jpg" target="_blank"><img src="//help.foliotek.com/media/6068/move with click_535x186.jpg" width="535" height="186" alt="Move With Click" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p style="text-align: left;">&#xA0;</p>

<p style="text-align: left;">The third way files can be moved is by dragging and dropping them into the correct folder.&#xA0; With this method, simply check the box next to any number of files, hover over one of the selected files until the directional cross appears then left click
    and hold.&#xA0; When you begin to drag, a box will appear that lets you know how many files you are moving.&#xA0; Once you are over the correct folder, the folder will be highlighted, simply let go and the files will be dropped into that folder.</p>

<p style="text-align: left;">&#xA0;</p>

<p style="text-align: left;">
    <a href="//help.foliotek.com/media/6073/move drag and drop.jpg" target="_blank"><img src="//help.foliotek.com/media/6073/move drag and drop_535x292.jpg" width="535" height="292" alt="Move Drag and Drop" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p style="text-align: left;">&#xA0;</p>

<h4>Downloading Files</h4>

<p>If you want to make a copy of the files you have uploaded into your portfolio account, you can do so using the &apos;Download Selected&apos; button.&#xA0; Check the box next to any files you want to download and then click the &apos;Download Selected&apos;
    button.&#xA0; The selected files will be downloaded to your computer and placed in a zipped file.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6084/download files.jpg" target="_blank"><img src="//help.foliotek.com/media/6084/download files_532x118.jpg" width="532" height="118" alt="Download Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<h4>Removing Files</h4>

<p>If you have uploaded files you no longer need, you can remove them from your account.&#xA0; Simply check the box next to the file you would like to remove and then either click the &apos;Delete Selected&apos; button at the top of screen or click &apos;remove&apos;
    under the file name.&#xA0; If you wish to remove multiple files, select all the files you wish to remove and click the &apos;Delete Selected&apos; button at the top.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6089/remove files.jpg" target="_blank"><img src="//help.foliotek.com/media/6089/remove files_535x169.jpg" width="535" height="169" alt="Remove Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>These same methods can be used to remove folders.&#xA0; Click on the folder you wish to remove and click either the &apos;Delete Selected&apos; button or the &apos;remove&apos; link under the folder name.</p>

<p>&#xA0;</p>

<h3>Other Features</h3>

<h4>File Search</h4>

<p>The file search lets you quickly find any file in your files area.&#xA0; In the &apos;[search for files]&apos; box, type in the name, or part, of the file you want or any part of a file name.&#xA0; When you hit &apos;enter&apos; or click the magnifying
    glass icon, the system will find your files and display them in the files list.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6106/file search.jpg" target="_blank"><img src="//help.foliotek.com/media/6106/file search_528x219.jpg" width="528" height="219" alt="File Search" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Renaming Files</h4>

<p>If you would like to change the name associated with a file, click the file you want to rename to select it.&#xA0; Under the name of the file you will see a &apos;rename&apos; link.&#xA0; Clicking this link will open a pop up window that will allow you
    to change the name.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6111/renaming files.jpg" target="_blank"><img src="//help.foliotek.com/media/6111/renaming files_529x251.jpg" width="529" height="251" alt="Renaming Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Opening Files and Folders</h4>

<p>To open a file, you must first select the file you want to open by clicking on it.&#xA0; Once this is done, the link to &apos;open&apos; a file appears under the file name.&#xA0; Click this link and the file will open.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6128/opening files.jpg" target="_blank"><img src="//help.foliotek.com/media/6128/opening files_527x187.jpg" width="527" height="187" alt="Opening Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<p>To open a folder, simply click on the name of the folder.&#xA0; The contents of the folder will then be listed.&#xA0; To return to the main files area, click the &apos;Up one level&apos; link.&#xA0; If there are several layers of nested folders, clicking
    &apos;Up one level&apos; will eventually get you back to the main files area.&#xA0; You can tell how deep you are into your folders by the crumbs list at the top.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6133/open folders.jpg" target="_blank"><img src="//help.foliotek.com/media/6133/open folders_533x134.jpg" width="533" height="134" alt="Open Folders" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Sorting Files</h4>

<p>You can sort your files using the options in the upper right of the files area.&#xA0; The ability is given to sort files alphabetically, by file size, file type, or date uploaded.&#xA0; Simply click one of the links and your files will be sorted in the
    list.&#xA0; Folders are not sorted in this way.&#xA0; Your folders always remain at the top of your list and are always listed alphabetically.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/6144/sorting files.jpg" target="_blank"><img src="//help.foliotek.com/media/6144/sorting files_532x166.jpg" width="532" height="166" alt="Sorting Files" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}