---
title: Searching Through Files - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    To start using files in your Foliotek Presentation, first open a portfolio, then click the &quot;FILES&quot; button on the editing bar.</p>

<p>&#xA0;</p>

<h3>How To Search For Files</h3>

<p>Another way Foliotek makes it easy to find files which you have already uploaded is by allowing you to search for them. &#xA0;If you have a file uploaded to Foliotek, and you know the name of that file, you may type the name into the search bar located
    at the top right of the files area.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2834/sorting3.png" target="_blank"><img src="//help.foliotek.com/media/2834/sorting3_535x257.jpg" width="535" height="257" alt="sorting3" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>To view all of your files again you may click the round x inside the search bar.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/2839/sorting4.png" target="_blank"><img src="//help.foliotek.com/media/2839/sorting4_535x257.jpg" width="535" height="257" alt="sorting4" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>For information on uploading files, visit the <a href="/presentation/files/adding-files" target="_blank" title="Adding Files">Adding Files</a> page.</p>
{% endblock contents %}