---
title: Editor
lunr: true
hideDisqus: true
bodyClass: editor
---
{% extends 'site.swig' %}

{% block head %}
<link rel="Stylesheet" type="text/css" href="/css/editor.compiled.css" />
{% endblock head %}

{% block contents %}

<!-- element to edit -->
<!-- <div id="editor" data-placeholder="Go on, start editing..."> -->
Feel free to edit...
<br />
You can paste an image from your clipboard in here.
<br />
<h2>Todo</h2>
<a href="http://google.com">google.com</a>
<ul>
	<li style="text-decoration: line-through;">Ability to add links</li>
	<li style="text-decoration: line-through;">Fix drag and drop images</li>
	<li>Bold text around a link.  Click in link - link helper not working</li>
	<li>Any other formatting tools?</li>
</ul>

<!-- </div> -->

{% endblock contents %}

{% block scripts %}
<script src="/js/editor.compiled.js"></script>
<script>
var mEditor = new MetalEditor();
</script>
{% endblock scripts %}
