---
title: Editor
lunr: true
hideDisqus: true
bodyClass: editor
---
{% extends 'site.swig' %}

{% block head %}
<link rel="Stylesheet" type="text/css" href="{%= baseUrl %}/bower_components/fontawesome/css/font-awesome.css" />
{% endblock head %}

{% block contents %}
<div id="toolbar">
  <a data-wysihtml5-command="bold" class="fa fa-bold"></a>
  <a data-wysihtml5-command="italic" class="fa fa-italic"></a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" class="fa fa-paragraph"></a>

  <a data-wysihtml5-command="insertUnorderedList" class="fa fa-list-ul"></a>
  <a data-wysihtml5-command="insertOrderedList" class="fa fa-list-ol"></a>
</div>

<!-- element to edit -->
<div id="editor" data-placeholder="Go on, start editing..."></div>
{% endblock contents %}

{% block scripts %}
<script src="{%= baseUrl %}/bower_components/wysihtml/dist/wysihtml5x-toolbar.min.js"></script>
<script src="{%= baseUrl %}/bower_components/wysihtml/parser_rules/advanced_and_extended.js"></script>
<script src="{%= baseUrl %}/js/filereader.js"></script>
<script src="{%= baseUrl %}/js/editor.js"></script>
<script>
	app.Editor.init();
</script>
{% endblock scripts %}