---
title: How to Create an Electronic Portfolio 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    Creating your own portfolio is very simple and can also be very powerful.&#xA0; To learn about some valuable ways to use a presentation portfolio, check out our <a href="/presentation/getting-started/what&apos;s-a-portfolio" title="What&apos;s A Portfolio">What&apos;s a Portfolio</a>    section.</p>

<h3>Step One</h3>

<p>First you&apos;ll need to go to <a href="https://presentation.foliotek.com" target="_blank">presentation.foliotek.com</a> in order to start the process and either have an account, or use our free account to try it out.&#xA0; I&apos;m guessing this is
    something you have already done, so we&apos;ll move onto the real step one.</p>

<p>You begin the electronic portfolio creation process by choosing what you want your electronic portfolio to look like.&#xA0; Now don&apos;t sweat this process because you can always change it later.&#xA0; If you want to start simple but allow for some
    creative work later, you may want to start out with the Jane Plain
    <a href="/presentation/design/templates" target="_blank" title="Templates">template</a>.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/33672/create - step one.jpg" target="_blank" title="Creating A Portfolio - Step One"><img src="//help.foliotek.com/media/33672/create - step one_391x173.jpg" width="391" height="173" alt="Creating A Portfolio - Step One" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<h3>Step Two</h3>

<p>This next step is where we try to help you out a bit.&#xA0; When you create a portfolio, the portfolio will obviously have content.&#xA0; To best organize your content, we think it should be grouped into pages.&#xA0; Just like a website has pages for
    certain content, so, too, should your portfolio.&#xA0; The step two drop down box allows you to choose from some pre-built content ideas we have.&#xA0; Maybe you are a graphic designer, then the &quot;Graphic Design ePortfolio&quot; content template
    could be the best choice for you.&#xA0; Or, possibly, you just want to start from scratch?&#xA0; No problem, you can choose &quot;Blank ePortfolio&quot; as your option.&#xA0; In the end it doesn&apos;t matter because you can always <a href="/presentation/pages/new-pages"
    title="New Pages">add/remove these

pages</a> from your portfolio.&#xA0; We suggest selecting a few different options and look at the menu of the portfolio in the preview.&#xA0; You&apos;ll see the different page types appear here to give you a better idea of what each content type has.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/33677/create - step two.jpg" target="_blank" title="Creating A Portfolio - Step Two"><img src="//help.foliotek.com/media/33677/create - step two_395x212.jpg" width="395" height="212" alt="Creating A Portfolio - Step Two" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Step Three</h3>

<p>This should be the simplest&#xA0;step.&#xA0; Name your portfolio.&#xA0; Once you have typed in a name, a check mark&#xA0; button will appear.&#xA0; Hit that button and your portfolio is created.&#xA0; Now, it is up to you to fill it with content.&#xA0;
    You may want to check out the <a href="/presentation/content-editor/editable-areas" title="Editable Areas">Editable Areas</a> section of Help for more information.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/33682/create - step three.jpg" target="_blank" title="Creating A Portfolio - Step Three"><img src="//help.foliotek.com/media/33682/create - step three_394x213.jpg" width="394" height="213" alt="Creating A Portfolio - Step Three" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}