---
title: Design an Electronic Portfolio 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    Customizing a portfolio is all about being creative.&#xA0; This is your opportunity to make a visual statement that represents the purpose behind your portfolio.&#xA0; When you get to the point of customization, you are entering the world of the designer.&#xA0;
    In this world there are a few important principles to remember.&#xA0; Below we&apos;ll cover a few of those principles and, hopefully, get you started on the right foot.</p>

<h3>Basic Design Concepts</h3>

<p>First and foremost remember to <span>P.A.R.C.</span></p>

<p>PARC is an acronym standing for Proximity, Alignment, Repetition, and Contrast.&#xA0; These are the four most basic, rudimentary principles in any design.&#xA0; Here is a brief explanation of each:</p>

<p>&#xA0;</p>

<h4>Proximity!!</h4>

<p>Proximity involves the placement of like items on a page.&#xA0; You can also think of it as grouping.&#xA0; If you have certain ideas that are similiar and you can put them close to one another, you should do that.&#xA0; The farther away you spread like
    content the more disconnected your design will be.</p>

<p><span>Poor</span> Proximity</p>

<p><img src="//help.foliotek.com/media/2607/createportfolio05.png" width="205" height="336" alt="createPortfolio05"></p>

<p><span>Good</span> Proximity</p>

<p><img src="//help.foliotek.com/media/2612/createportfolio05a.png" width="205" height="193" alt="createPortfolio05a"></p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4>Alignment</h4>

<p>Alignment isn&apos;t too hard to figure out.&#xA0; Basically, if you can remember one thing, remember this:&#xA0; Avoid centering stuff when possible.&#xA0; Now that may sound a bit extreme, but playing around with left and right alignment on text will
    set you apart from 99% of the world.&#xA0; Now that isn&apos;t to say there aren&apos;t valid reason to center content, but, a majority of the time, that is what we default to without even experimenting with other alignment styles.&#xA0; So, branch
    out a bit and try some other alignment options before you commit to centering stuff.&#xA0; If you get a chance, check out some quality magazines and see how often they use left and right alignment, you&apos;ll be suprised.</p>

<p>Below is a sample of two ways of aligning an image in your portfolio.&#xA0; Both look OK, but the right aligned image is a better use of space and adds visual intrigue.</p>

<p>Image <span>Centered</span></p>

<p>
    <a href="//help.foliotek.com/media/2173/createportfolio06.png" target="_blank"><img src="//help.foliotek.com/media/2173/createportfolio06_240x236.jpg" width="240" height="236" alt="createPortfolio06"></a>
</p>

<p>Image <span>Right Aligned</span></p>

<p>
    <a href="//help.foliotek.com/media/2178/createportfolio07.png" target="_blank"><img src="//help.foliotek.com/media/2178/createportfolio07_240x236.jpg" width="240" height="236" alt="createPortfolio07"></a>
</p>

<p>&#xA0;</p>

<h4>Repitition</h4>

<p>Repetition is another way of saying &quot;if you have a good idea, stick with it and use it as much as possible.&quot;&#xA0; If you like a certain design element, repeat it frequently.&#xA0; This provides consistency and continuity to your design.&#xA0;
    What is a distraction, is when formatting elements are constantly changed.&#xA0; For example, you should stick to one or two fonts and standardize the size of fonts you use throughout your portfolio.&#xA0; If you like a certain color scheme, don&apos;t
    change it from page to page, keep it the same, repeat it!</p>

<p>Below are two different pages. The first is an example of very little repition, the second shows consistently repeated elements.
</p>

<p><span>Poor</span> use of Repetition</p>

<p>
    <a href="//help.foliotek.com/media/2346/createportfolio08.png" target="_blank"><img src="//help.foliotek.com/media/2346/createportfolio08_384x325.jpg" width="384" height="325" alt="createPortfolio08"></a>
</p>

<p><span>Good</span> use of Repetition</p>

<p>
    <a href="//help.foliotek.com/media/2351/createportfolio09.png" target="_blank"><img src="//help.foliotek.com/media/2351/createportfolio09_384x325.jpg" width="384" height="325" alt="createPortfolio09"></a>
</p>

<p>&#xA0;</p>

<h4>Contrast</h4>

<p>Contrast is probably the hardest of the group to understand.&#xA0; The good news is that it&apos;s still pretty elementary.&#xA0; Designing with contrast in mind means you are paying close attention to colors and what colors look good on top of one another.&#xA0;
    A very simple rule of thumb is to have dark colors on light colors, or light colors on dark colors.&#xA0; You should avoid light on light or dark on dark unless you are aiming for a specific effect.&#xA0; If you are really interested in what colors
    look best with one another, <a href="http://kuler.adobe.com/#create/fromacolor">use this link to

Adobe&apos;s Kuler application</a>.&#xA0; This tool is an excellent resource for discovering what colors work well with other colors.
</p>

<p><span>Poor</span> Contrast</p>

<p>
    <a href="//help.foliotek.com/media/2416/createportfolio10.png" target="_blank"><img src="//help.foliotek.com/media/2416/createportfolio10_376x369.jpg" width="376" height="369" alt="createPortfolio10"></a>
</p>

<p>&#xA0;</p>

<p><span>Good</span> Contrast</p>

<p>
    <a href="//help.foliotek.com/media/2421/createportfolio11.png" target="_blank"><img src="//help.foliotek.com/media/2421/createportfolio11_376x369.jpg" width="376" height="369" alt="createPortfolio11"></a>
</p>
{% endblock contents %}
