---
title: Collaborate 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Collaborate</h3>



<p>The Collaborate option is located in the &apos;sharing&apos; drop down.&#xA0; Once a contributor has been added, this link will change to &quot;Manage Contributors&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7578/collaborate - accessing.jpg" target="_blank"><img src="//help.foliotek.com/media/7578/collaborate - accessing_534x181.jpg" width="534" height="181" alt="Collaborate - accessing feature" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>What is Collaborating?</h4>

<p>The Collaborate feature allows multiple users to work on the same portfolio at the same time.&#xA0; Using an email invite, you will be able to invite others to work on the portfolio you created.
</p>

<p>The email invite will provide the contributor with a link to access your portfolio, and will be prompted to login to his/her Foliotek Presentation account.&#xA0; If the contributor does not already have a Foliotek Presentation account, he/she will need
    to register for an account with the link provided.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7618/collaborate email invite.jpg" target="_blank"><img src="//help.foliotek.com/media/7618/collaborate email invite_530x262.jpg" width="530" height="262" alt="Collaborate Email Invite" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4>Adding Contributors</h4>

<p>To add a contributor simply type the person&apos;s full name and email address in the appropriate boxes.&#xA0; Then, click the &quot;Finished&quot; button.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7588/add contributor.jpg" target="_blank"><img src="//help.foliotek.com/media/7588/add contributor_535x357.jpg" width="535" height="357" alt="Add contributor" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Editing Collaborative Portfolios</h4>

<p>As the owner, you will have control of all content, including the Portfolio Design (templates), Portfolio Title, Profile Content, and creating new shares.&#xA0;&#xA0; The contributors you add will be able to add new pages, edit content, and merge the
    changes they make to existing pages with shared pages.</p>

<p>NOTE: If two contributors are working on the same page at the same time, one contributor will always be overwriting the other contributor&apos;s data. TRY NOT TO EDIT THE SAME PAGE AT THE SAME TIME.&#xA0; If you are editing a page at the same time as
    another contributor, you will see this message:</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7608/contributors heads up.jpg" target="_blank"><img src="//help.foliotek.com/media/7608/contributors heads up_533x305.jpg" width="533" height="305" alt="contributors heads up" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4>Managing Contributors</h4>

<p>Once you have added contributors, their names will be displayed under the heading &quot;Current Contributors.&quot;&#xA0; If a contributor has not yet accepted your request, the word [Pending] will be displayed next to the person&apos;s name until this
    is done.</p>

<p>At any time you may remove a contributor by clicking the &quot;remove&quot; link next to the contributor&apos;s name/email address.</p>

<p>To display a list of removed contributors, click the &quot;show past contributors&quot; link.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7593/remove contributors.jpg" target="_blank"><img src="//help.foliotek.com/media/7593/remove contributors_535x373.jpg" width="535" height="373" alt="Remove contributors" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}