---
title: Community Sharing - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Community Shares</h3>



<p>The Community Share option can be accessed in the &apos;sharing&apos; or &apos;community&apos; drop downs.&#xA0; It is labeled &apos;Share in Community&apos;.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8195/community share2.jpg" target="_blank"><img src="//help.foliotek.com/media/8195/community share2_535x213.jpg" width="535" height="213" alt="Community Share2" style="display: block; margin-left: auto; margin-right: auto;"></a>
    <a href="//help.foliotek.com/media/1188/community share - two places.jpg"
    target="_blank">
        <br>
    </a>
</p>

<h4>What is a Community Share?</h4>

<p>The Community share gives you the opportunity to share your portfolio(s) with a group of peers.&#xA0; There are two types of communities, Open and Restricted.</p>

<p>
    <br>
    <span>Open Communities</span>
    <br> An Open community is one that is open for any Foliotek Presentation user to join and share portfolios.</p>

<p>
    <br>
    <span>Restricted Communities</span>
    <br> Restricted communities are ones that have been set up for a specific purpose.&#xA0; For instance, if you are using Foliotek Presentation as required by your school, your school has a community that is only available to other Foliotek users at your
    institution.&#xA0; Restricted communities can also be created by instructors at a school for use by users in a particular course they teach.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7287/community - basic- updated.png"><img src="//help.foliotek.com/media/7287/community - basic- updated_534x367.jpg" width="534" height="367" alt="Community - Basic- Updated" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>It&apos;s simple to join either community:</p>

<ul>
    <li>Click the &apos;Join Community&apos; button</li>

    <li>Enter the invite code given to you by the owner of the community (if you are a student, this will often be from your professor)
    </li>

    <li>Click the &apos;Join&apos; button next to where you entered your code
    </li>
</ul>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7312/community - sharing in an open c.png" target="_blank"><img src="//help.foliotek.com/media/7317/community - sharing in an open c_534x367.jpg" width="534" height="367" alt="Community - Sharing in an Open C" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You are now sharing that portfolio in a community.&#xA0; All other Foliotek users in the community can now see your portfolio and provide you with feedback on it.&#xA0; To remove your portfolio from that Community, click the &apos;perform actions in this
    community button&apos;. Then, click the X to leave the community.</p>

<p>&#xA0;</p>

<p style="text-align: center;">
    <a href="//help.foliotek.com/media/7327/community - restrictedit.png" target="_blank"><img src="//help.foliotek.com/media/7327/community - restrictedit_535x364.jpg" width="535" height="364" alt="Community - RestrictEDIT"></a>
</p>

<p>&#xA0;</p>

<p>After joining =communities, you can click on the &apos;perform actions in this community&apos; button. Depending on how the community is set up, you can see what portfolios are shared in the commnity, see what projects are shared the community, and view
    the community as a whole.</p>

<p>&#xA0;</p>

<p><img src="//help.foliotek.com/media/7332/community - view community_535x364.jpg" width="535" height="364" alt="Community - View Community" style="display: block; margin-left: auto; margin-right: auto;"></p>

<p>&#xA0;</p>

<h4>Leaving a Community</h4>

<p>If, at any time, you wish to leave a community you have joined via an Invite Code, you can do so by clicking the &apos;perform actions in the community&apos; button, then clicking the &apos;X&apos; to leave the community.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7352/community - leave comm.png" target="_blank"><img src="//help.foliotek.com/media/7352/community - leave comm_534x351.jpg" width="534" height="351" alt="Community - Leave Comm" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}