---
title: Privately Sharing an Electronic Portfolio - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Private Shares</h3>



<p>The Private share option is located in the &apos;sharing&apos; drop down.&#xA0; It is labeled &apos;Share Privately&apos;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8115/private share.jpg" target="_blank"><img src="//help.foliotek.com/media/8115/private share_532x230.jpg" width="532" height="230" alt="Private Share" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>What is a Private Share?</h4>

<p>The Private share, using an email invite, allows you to share your portfolio with only those you choose.&#xA0; This email invite provides a link and access key to allow the recipient to view your portfolio.&#xA0; It is really easy to share this way.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8120/send private share.jpg" target="_blank"><img src="//help.foliotek.com/media/8120/send private share_535x352.jpg" width="535" height="352" alt="Send Private Share" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p><span>Quick Instructions:</span></p>

<ul>
    <li>Enter the email address of the recipient</li>

    <li>Add the person&apos;s name</li>

    <li>Set the begin date (the date you want this person to be able to access your portoflio)</li>

    <li>Set the end date (this is the last day this person can access your portfolio)</li>

    <li>Type an appropriate message to this person</li>

    <li>Click &apos;Send invite(s)&apos; to send the email</li>
</ul>

<p>&#xA0;</p>

<p><span>Current Shares</span></p>

<p>Once you have shared the portfolio, you will see it in the &apos;Current Shares&apos; list.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8125/current private shares.jpg" target="_blank"><img src="//help.foliotek.com/media/8125/current private shares_535x394.jpg" width="535" height="394" alt="Current Private Shares" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>This area shows you a list of any private shares you have made.&#xA0; It provides some key information:</p>

<ul>
    <li>People with whom you have shared this portfolio</li>

    <li>Any comments that have been left for you regarding this portfolio
    </li>

    <li>The dates during which this share can be viewed</li>
</ul>

<p>Even after you have sent a Private share, it is possible to change the particulars of the invite.&#xA0; The pencil next to the email address of the person you shared with allows you to change the particulars of the associated share.</p>

<p>&#xA0;</p>

<h4>Feedback/Comments</h4>

<p>Any comments that are sent to you using the feedback page in your portfolio can be found by clicking on the username in the top right corner and then selecting &apos;Feedback&apos; from the dropdown.&#xA0; The number of comments that have been left appears
    in a red circle next to your username.</p>

<p>&#xA0;</p>

<p>
    <br>
    <a href="//help.foliotek.com/media/7736/viewing feedback.jpg" target="_blank"><img src="//help.foliotek.com/media/7736/viewing feedback_534x165.jpg" width="534" height="165" alt="Viewing Feedback" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Ending Shares</h4>

<p>At any time, you can remove a Private invite to view your portfolio.&#xA0; Simply, click the trashcan next to email address of the person you shared with and access to the portfolio will be removed.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8142/ending private shares.jpg" target="_blank"><img src="//help.foliotek.com/media/8142/ending private shares_533x134.jpg" width="533" height="134" alt="Ending Private Shares" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}