---
title: Publicly Share an Electronic Portfolio - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Public Shares</h3>



<p>The Public share option is located in the &apos;sharing&apos; drop down.&#xA0; It is labeled &apos;Share Publicly&apos;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8153/public shares.jpg" target="_blank"><img src="//help.foliotek.com/media/8153/public shares_535x218.jpg" width="535" height="218" alt="Public Shares" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>What is a Public Share?</h4>

<p>The Public share is used to place your portfolio on the internet for the whole world to see.&#xA0; Using the public share, you will create a URL for your portofolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8158/creating public share.jpg" target="_blank"><img src="//help.foliotek.com/media/8158/creating public share_532x257.jpg" width="532" height="257" alt="Creating Public Share" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p><span>Quick Instructions:</span></p>

<ul>
    <li>type a name in the URL box</li>

    <li>Click &apos;Validate&apos; to ensure the name is available</li>

    <li>Then, click the &apos;Share Portfolio&apos; button</li>
</ul>

<p>Now, anyone in the world can see your portfolio.&#xA0; You can share this URL with someone and they can view your portfolio on the internet.&#xA0; You can include it on your resume, job applications, business cards, or just share it with friends and family.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8163/public share url.jpg" target="_blank"><img src="//help.foliotek.com/media/8163/public share url_532x230.jpg" width="532" height="230" alt="Public Share URL" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>The public share also allows you to share your portfolio on Facebook, Twitter, or LinkedIn.&#xA0; Once you share it publicly, you will see the Facebook, Twitter, and LinkedIn icons appear.&#xA0; Click on the icon for the media you wish to share with,
    follow the prompts, and you will place a link to the portfolio in your account for that particular audience to see.</p>

<p>&#xA0;</p>

<h4>Feedback</h4>

<p>You can read what comments have been made by clicking on the username in the top right corner and then clicking on &apos;Feedback&apos; in the dropdown.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7736/viewing feedback.jpg" target="_blank"><img src="//help.foliotek.com/media/7736/viewing feedback_534x165.jpg" width="534" height="165" alt="Viewing Feedback" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Ending Shares</h4>

<p>At anytime you can easily stop sharing your portfolio publicly. Simply click the &apos;Manage ePortfolios&apos; button, then &apos;manage share&apos; next to your portfolio. In the box that pops up, click &apos;stop share&apos;. This removes the portfolio
    from the Internet.&#xA0; To start sharing it again, simply click the &apos;start sharing&apos; link that appears next to the URL.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/8168/ending public share.jpg" target="_blank"><img src="//help.foliotek.com/media/8168/ending public share_532x230.jpg" width="532" height="230" alt="Ending Public Share" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}