<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Templates - Foliotek Presentation | Metalsmith Page</title>

    <link href="/metalsmith-test/css/all.css" rel="Stylesheet" type="text/css" />
    
    
</head>
<body class="">
	<header>
		<a href="/" class="brand-header">Foliotek</a>
    <!-- <div class="search-wrap">
      <input type="search" id="search" />
      <button class="search-btn">Search</button>
    </div> -->
	</header>
    <div class="main-wrapper">
        
  <div class="crumb-container"><ul>
  <li>
  <a href="/metalsmith-test/presentation">
  presentation
  </a>
  </li>
  

  
  <li>
  <a href="/metalsmith-test/presentation/design">
  design
  </a>
  </li>
  

  
  <li>
  
  templates
  
  </li>
  </ul></div>


        <h1>Templates - Foliotek Presentation</h1>
        <div id="content">
          
<h3>What is a template?</h3>



<p>Basically, a template is the design of your portfolio.&#xA0; It determines the background, position of text boxes, fonts, and color scheme.&#xA0; These values are initially set by the template you choose, but, you can change a few of them or all of them
    depending on the type of template you have chosen.</p>

<p>&#xA0;</p>

<h3>Choosing a Template</h3>

<p>The template that your portfolio uses can be selected in two places:&#xA0; when you first create a portfolio and in the &apos;Design&apos; tab once a portfolio has been created.</p>

<p>&#xA0;</p>

<p><span>Creating a Portfolio</span></p>

<p>The first step in creating a portfolio is to select a template.&#xA0; You have the ability to scroll through the many choices Foliotek offers using the arrows on either side of the templates.&#xA0; Each time you click on a template, that one is highlighted
    with an orange box and the &apos;preview&apos; changes in the bottom of the screen to show you what your selected template would look like.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1299/create portfolio template selection.jpg" target="_blank"><img src="//help.foliotek.com/media/1299/create portfolio template selection_534x345.jpg" width="534" height="345" alt="Create Portfolio Template Selection" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p><span>The Design Tab</span></p>

<p>Once you have created a portfolio, you will find the
    <span>Design</span> tab in the upper right corner of the editor.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1308/design tab.jpg" target="_blank"><img src="//help.foliotek.com/media/1308/design tab_528x144.jpg" width="528" height="144" alt="Design Tab" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Upon entering the Design tab, the Templates area automatically opens.&#xA0; The &apos;Applied Template&apos; is the template you are currently using for your portfolio.</p>

<p>In the Templates area you can experiement further with other templates.&#xA0; The same scrolling tools are available to show you the different options available.&#xA0; By clicking on a particular template, the preview of your portfolio changes to show
    you what it would look like wearing each template.&#xA0; If you find a template you would rather use, simply click the &apos;Apply&apos; button in the upper right corner to change your selected template.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1318/selecting a template.jpg" target="_blank"><img src="//help.foliotek.com/media/1318/selecting a template_535x369.jpg" width="535" height="369" alt="Apply New Template" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h3>Custom Templates</h3>

<p>&#xA0;</p>

<p><img src="//help.foliotek.com/media/1358/custom - basic templates.jpg" width="341" height="201" alt="Custom/Basic Templates" style="display: block; margin-left: auto; margin-right: auto;"></p>

<p>&#xA0;</p>

<p>All of the templates are highly configurable and provide access to many advanced options.&#xA0; They allow you to change nearly every aspect of the template and, therefore, the look of your portfolio.&#xA0; With a custom template you have access to the
    other areas of the &apos;Design&apos; tab:&#xA0; <a href="/metalsmith-test/presentation/design/layout" title="Layout">Layout</a>, <a href="/metalsmith-test/presentation/design/site-background" title="Backgrounds">Background</a>, and <a href="/metalsmith-test/presentation/design/styles-(boxes)"
    title="Styles (Boxes)">Styles</a>.&#xA0; Within these areas you can change the postition of the editable areas, select a different background image, and adjust the fonts and color schemes used in your portfolio.</p>

        </div>

        
        <div id="comments-wrapper">
          <h3>Discussion</h3>
          <div id="disqus_thread"></div>
        </div>
        
    </div>
    <footer>
    </footer>
    <script>
      window.app = {
        baseUrl: '//thedustinsmith.com/metalsmith-test'
      };
    </script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/metalsmith-test/js/utility.js"></script>
    <!--<script src="/metalsmith-test/js/search.js"></script>
    <script src="/metalsmith-test/js/lunr.js"></script>-->
    <script src="/metalsmith-test/js/site.js"></script>
    <script src="/metalsmith-test/js/editor.js"></script>

    <!--<script>
    app.Search.init();
    </script>-->
    

    
    
    <script type="text/javascript">
      var disqus_shortname = 'metalsmithtest';
      var disqus_identifier = '';
      var disqus_title = '';
      var disqus_url = '';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  
</body>
</html>