---
title: Building Your story 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Building Your Story</h3>



<p>Once you&apos;ve decided on the layout of your Identity Page, now it&apos;s time to build your story.&#xA0; Click on the editing tools slider to open up the options.&#xA0; The second icon (the pencil) gives you the opportunity to enter basic information,
    connect your Identity page to your social networking accounts, add your work history, and enter your educational background.</p>

<p>
    <a href="//help.foliotek.com/media/32285/basic info icon.jpg" target="_blank" title="Basic Info Icon"><img src="//help.foliotek.com/media/32285/basic info icon_394x239.jpg" width="394" height="239" alt="Basic Info Icon" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Basic Information</h4>

<p>The basic information consists of your name, profile image, description for your page, your email address, and links to websites or videos.&#xA0; By clicking the pencil icon for each section, you can edit and add information pertaining to that section.
</p>

<h4>Social Networks</h4>

<p>Here you can link your Facebook, Google+, Twitter, LinkedIn, Instagram, Vimeo, Yahoo, Foursquare, YouTube, and Stack Exchange accounts to your Identity Page.&#xA0; Click on the icon for the network you want to connect to, enter your login information
    for that site, and agree to give the site access.&#xA0; Now, your Identity page will be the gateway to your social network for anyone viewing your Identity Page.&#xA0; All they have to do is click on the icon for the social networking site they wish
    to visit and they can view that networking page.</p>

<h4>Work History</h4>

<p>The Work section allows you to provide information about your employment experience.&#xA0; You can enter as many items as you like.&#xA0; For each one you are asked to provide the name of the company, the position you held, and the dates you were there.&#xA0;
    This is a great way to give the viewer an idea of the various skills you have acquired over the years.</p>

<h4>Educational Background</h4>

<p>The Schools area let&apos;s you proudly tell the viewer about your education.&#xA0; You can enter the name of any schools you attended, the field(s) you were studying, and the degree you received or the one you are working on, if you are still in school.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32280/personal info 2.jpg" target="_blank" title="Personal Information"><img src="//help.foliotek.com/media/32280/personal info 2_395x263.jpg" width="395" height="263" alt="Personal Info 2" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}