---
title: Creating Your Look 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Creating Your Look</h3>



<p>The third icon in the editing tools slider allows you to change the look of your portfolio.&#xA0; Here, you can select a different background image, adjust the look of the background, and change the way the background of the content box looks.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32310/background icon.jpg" target="_blank" title="Background Icon"><img src="//help.foliotek.com/media/32310/background icon_394x249.jpg" width="394" height="249" alt="Background Icon" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Outer Background</h4>

<p>The outer background is the image that serves as the background for your Identity Page.&#xA0; This image can be chosen from our stock of hundred&apos;s of amazing images.&#xA0; You also have access to a folder containing images you have already uploaded
    into your Foliotek Presentation account.&#xA0; Or, if you prefer, you can upload your own image and use it as the background.&#xA0; Clicking &apos;Select/Upload&apos; let&apos;s you access all three options.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32315/selecting a background image.jpg" target="_blank" title="Selecting a Background Image"><img src="//help.foliotek.com/media/32315/selecting a background image_395x268.jpg" width="395" height="268" alt="Selecting a Background Image" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Once you have selected an image for the background, you can use the viewer on the image in the left column to change the portion and size of the image that is used as the background.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32320/background sizing window.jpg" target="_blank" title="Background Sizing Window"><img src="//help.foliotek.com/media/32320/background sizing window_394x380.jpg" width="394" height="380" alt="Background Sizing Window" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You can also select from color, black &amp; white, or blurred options.&#xA0; The best thing to do is pick an image you like and adjust the settings to see it in different ways.&#xA0; You can keep selecting images and settings until you find something
    you like.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32330/background outer options cbwb.jpg" target="_blank" title="Background Outer Options CBWB"><img src="//help.foliotek.com/media/32330/background outer options cbwb_392x205.jpg" width="392" height="205" alt="Background Outer Options CBWB" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Inner Background</h4>

<p>The inner background is what is behind the content on the page.&#xA0; Here you have two options:&#xA0; image or solid.&#xA0; The &apos;image&apos; option takes the background image you selected and places it as the background behind the content and transparent
    color overlay (you can change this in the <a href="/presentation/identity-page/customizing-your-identity-page" target="_blank" title="Customizing your Identity Page">customization area</a>) in the content box.&#xA0; Selecting &apos;solid&apos;, uses
    the color options you select in the customization area to provide a colored background for your content.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32335/background inner options.jpg" target="_blank" title="Background Inner Options"><img src="//help.foliotek.com/media/32335/background inner options_389x138.jpg" width="389" height="138" alt="Background Inner Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}