---
title: Customizing Your Identity Page 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Customizing Your Identity Page</h3>



<p>
    <a href="//help.foliotek.com/media/32340/color customization icon.jpg" target="_blank" title="Color Customization Icon"><img src="//help.foliotek.com/media/32340/color customization icon_392x205.jpg" width="392" height="205" alt="Color Customization Icon" style="float: right; margin-left: 15px; margin-right: 15px;"></a>The last icon in the editing tools slider gives
    you the ability to adjust the color scheme used on your Identity page.&#xA0; Our system uses precise algorithms to suggest the perfect color scheme based on the background image you select.&#xA0; However, we give you the option to tweak it a little
    to better fit your taste.</p>

<p>&#xA0;</p>

<h4>Customizing the Colors</h4>

<p>Everytime you select a background image, Foliotek suggests four color schemes and applies the first one to your page.&#xA0; You can click on each scheme to see how it looks.&#xA0; You can even &apos;swap&apos; the colors to see how that changes things.&#xA0;
    With these pre-selected colors, you are given the ability to change the text color of any links you may have added to your page.&#xA0; Simply click the eye dropper icon in the small, middle circle to change the link color.&#xA0; &apos;Custom Carl&apos;
    allows you to select all three colors yourself.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32345/color selection options.jpg" target="_blank" title="Color Selection Options"><img src="//help.foliotek.com/media/32345/color selection options_392x205.jpg" width="392" height="205" alt="Color Selection Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Customizing the Font</h4>

<p>You also have the ability to adjust the font and size of the text on your page.&#xA0; Foliotek pre-selects fonts and sizes based on the template you chose when you started to build your Identity page.&#xA0; In this area, you can choose from 18 different
    fonts for the header and body text of your page.&#xA0; Adjusting the size of the header font can also change the width of the content box.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32350/font selection options.jpg" target="_blank" title="Font Selection Options"><img src="//help.foliotek.com/media/32350/font selection options_392x205.jpg" width="392" height="205" alt="Font Selection Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}