---
title: Publishing and Sharing Your Identity Page 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Publishing Your Identity Page</h3>



<p>Your Identity page is automatically published once you create the unique URL for your page.&#xA0; Everytime you make changes, the published version is updated.&#xA0; You can easily view those changes on the published version by clicking the &apos;Published&apos;
    button in the upper right corner of the editor.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32371/viewing the published version.jpg" target="_blank" title="Viewing the Published Version"><img src="//help.foliotek.com/media/32371/viewing the published version_395x188.jpg" width="395" height="188" alt="Viewing The Published Version" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Sharing Your Identity Page</h4>

<p>It is very easy to share your Identity Page with others.&#xA0; Simply give them the URL for the Identity Page found on your dashboard.&#xA0; You can put this link on your resume, business cards, or in your portfolio, so others can access the page and
    learn more about you.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/32366/sharing the identity page.jpg" target="_blank" title="Sharing Your Identity Page"><img src="//help.foliotek.com/media/32366/sharing the identity page_395x224.jpg" width="395" height="224" alt="Sharing the Identity Page" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}