---
title: Selecting a Template 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>Selecting a Template</h3>



<p>
    <a href="//help.foliotek.com/media/32265/selecting a template.jpg" target="_blank" title="Selecting a Template"><img src="//help.foliotek.com/media/32265/selecting a template_394x255.jpg" width="394" height="255" alt="Selecting a Template" style="float: right; margin-left: 15px; margin-right: 15px; margin-top: 5px; margin-bottom: 5px;"></a>Once you&apos;ve
    developed the URL, the next step in creating your Identity page is to select a template.&#xA0; The template gives you a general layout and initial design for your identity.&#xA0; From here, you can further customize the look and layout.
</p>

<p>You can keep selecting templates until you find one you like.&#xA0; Your ID page will update after each selection so you can see what it looks like.</p>

<p>If you ever want to &apos;start all over&apos; with the look of your identity page, simply go back to the template area, pick a new one, and begin again.</p>
{% endblock contents %}