---
title: What is the Identity Page? 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Identity Page?</h3>



<p>
    <a href="//help.foliotek.com/media/32260/first time id page.jpg" target="_blank" title="Building Your ID Page"><img src="//help.foliotek.com/media/32260/first time id page_395x268.jpg" width="395" height="268" alt="Building Your ID Page 2" style="float: right; margin-left: 15px; margin-right: 15px; margin-top: 5px; margin-bottom: 5px;"></a> <span></span></p>

<p><span>The Identity Page provides you with the ability to

construct a singular web presence where you can showcase your

experiential-based projects and acts as a gateway to your other

social networks.&#xA0; In short, it is your online business

card.&#xA0;<br>

</span></p>

<p><span>The first time you enter your presentation account, you

will be taken to your dashboard.&#xA0; The main image on the

dashboard is your Identity Page.&#xA0; Clicking on &apos;BUILD IT NOW&apos;

will take you to the Identity Page editor and allow you to begin

creating your identity.</span></p>

<h4>Creating the Web Address for your Identity</h4>

<p>The first step in the process is to create a unique URL for your identity.&#xA0; You can share this web address with anyone you want and they will be able to quickly and easily find out more about you.&#xA0; It can also be included on resumes and business
    cards, or shared on all of your social networks.&#xA0; Simply enter the unique name you want to give your Identity Page and click &apos;Create My Identity Page&apos;.&#xA0; After a quick tutorial, you will be ready to create your identity.</p>

<p>
    <a href="//help.foliotek.com/media/32255/id page url.jpg" target="_blank" title="ID Page URL"><img src="//help.foliotek.com/media/32255/id page url_394x153.jpg" width="394" height="153" alt="ID Page URL" style="display: block; margin: 15px auto;"></a>
</p>

<h4>Accessing the Editing Tools</h4>

<p>&#xA0;</p>

<p>When you are ready, click the editing tools slider in the top left corner to access the editing tools.&#xA0; Here you can change templates, edit your information, select a background and font, and adjust the color scheme.</p>

<p>
    <a href="//help.foliotek.com/media/32270/editing tool slider.jpg" target="_blank" title="ID Page Editing Tools"><img src="//help.foliotek.com/media/32270/editing tool slider_395x212.jpg" width="395" height="212" alt="Editing Tool Slider" style="display: block; margin: 15px auto;"></a>
</p>

<p><span>Packed with your important statistics and created to make

you look your best, the Identity Page is a quick, easy way to let

people know who you are and what you are about.&#xA0; If you ever

need to make adjustments to your Identity Page, use the person icon

in the top black bar or click the pencil icon button on the

dashboard <span>to edit your Identity Page</span>.</span>
</p>

<p>&#xA0;</p>

<p><span><img src="//help.foliotek.com/media/32355/accessing the identity page_395x224.jpg" width="395" height="224" alt="Accessing the Identity Page" style="display: block; margin-left: auto; margin-right: auto;"><br>

</span></p>
{% endblock contents %}