---
title: Document Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Document Gizmo?</h3>



<p>Foliotek presentation allows you to add documents to your portfolio a number of different ways.&#xA0; One of these ways is using the DOCUMENT GIZMO. &#xA0;This is a gizmo found using the &quot;Gizmo&quot; tab on the toolbar.</p>

<p><span><span>Quick Instructions</span>:</span>
</p>

<ul>
    <li>Click on the GIZMO tab</li>

    <li>Click on the Document Gizmo</li>

    <li>Click in your portfolio where you want the document to go</li>

    <li>Click on the document you would like to add</li>

    <li>A link to that document will be placed in your portfolio</li>
</ul>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35316/selecting document gizmo.jpg" target="_blank" title="Selecting Document Gizmo"><img src="//help.foliotek.com/media/35316/selecting document gizmo_390x134.jpg" width="390" height="134" alt="Selecting Document Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4><span>Using the Document Gizmo</span></h4>

<p><span>You&apos;ll find the Document Gizmo located with the rest of

the gizmos in the <span>GIZMO</span> tab on the standard content editor toolbar.</span>
</p>

<p>Once you find the Document Gizmo, click once on the gizmo to &quot;pick it up.&quot; &#xA0;There is no need to click and hold/drag the gizmo. &#xA0;Clicking on it once will &quot;pick it up.&quot;</p>

<p>After you have picked up the Document Gizmo by clicking on it, you can place it anywhere in the portfolio page you have open by clicking once again to place it.</p>

<p>Navigate to where you would like the Gizmo to be placed and click again to &quot;put it down&quot; where you would like the document to be placed.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35327/placing document gizmo.jpg" target="_blank" title="Placing Document Gizmo"><img src="//help.foliotek.com/media/35327/placing document gizmo_395x398.jpg" width="395" height="398" alt="Placing Document Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Once you click to place the gizmo, you have the choice to either click on a document that has previoulsy been added to your Files area or upload a document and add it to the portfolio page.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35338/selecting file - documents.jpg" title="Selecting File - Documents"><img src="//help.foliotek.com/media/35338/selecting file - documents_394x301.jpg" width="394" height="301" alt="Selecting File - Documents" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>If you click on a document that has been previously uploaded, this will add a link to that document in the page where you had clicked to add the gizmo.&#xA0; You can also add that document so it can be viewed inline with the text as a placeholder. You
    can click the &apos;Upload Documents&apos; button to add a document that had not been placed in your Files area before.&#xA0; Clicking the button will open up a browser which you can use to search your computer for the necessary document.&#xA0; Once
    you find the document, click &apos;Open&apos; and the document is shown uploading in the Gizmo.&#xA0; Once it finishes uploading, you can click it and it will be added as a link in the page or as a placeholder inline with the text in the page.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35349/display document options.jpg" target="_blank"><img src="//help.foliotek.com/media/35349/display document options_395x119.jpg" width="395" height="119" alt="Display Document Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>Whichever method you choose to use to add a document, it will add it as a link in the page or placeholder. By double clicking on the document in place holder view you can add a description, or change the margin and border size around your document.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35354/document settings.jpg" title="Document Settings"><img src="//help.foliotek.com/media/35354/document settings.jpg" width="205" height="316" alt="Document Settings" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}