---
title: Embed Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Embed Gizmo?</h3>



<p>The EMBED GIZMO allows you to embed anything from any site. If a website offers an embed code, it can now be placed inside a portfolio.&#xA0; This Gizmo is found using the &quot;Gizmos&quot; tab on the toolbar.
</p>

<p>Quick Instructions:</p>

<ul>
    <li>Click on the GIZMO tab</li>

    <li>Click on the Embed Gizmo</li>

    <li>Click in your portfolio where you want the content to go</li>

    <li>Paste the Embed code that was copied from another website</li>

    <li>Click OK</li>
</ul>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7869/getting to the embed gizmo.jpg" target="_blank"><img src="//help.foliotek.com/media/7869/getting to the embed gizmo_531x257.jpg" width="531" height="257" alt="Initial Embed Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<h4>Using the Embed Gizmo</h4>

<p>You&apos;ll find the Embed Gizmo located with the rest of the gizmos in the GIZMOS tab on the standard content editor toolbar.</p>

<p>Once you find the Embed Gizmo, click once on the gizmo to &quot;pick it up.&quot;&#xA0; There is no need to click and hold/drag the gizmo.&#xA0; Clicking on it once will &quot;pick it up.&quot;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7874/embed gizmo selected.jpg" target="_blank"><img src="//help.foliotek.com/media/7874/embed gizmo selected_529x251.jpg" width="529" height="251" alt="Embed Gizmo Selected" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Navigate to where you would like the gizmo to be placed and click again to &quot;put it down.&quot;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7879/insert embed gizmo.jpg" target="_blank"><img src="//help.foliotek.com/media/7879/insert embed gizmo_535x362.jpg" width="535" height="362" alt="Insert Embed Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Once you click to place the gizmo, you will be prompted to enter the code for the item you want to embed.&#xA0; Paste the code that you copied from another website and click OK.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7884/embed code.jpg" target="_blank"><img src="//help.foliotek.com/media/7884/embed code_534x351.jpg" width="534" height="351" alt="Embed Code" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>A placeholder for the embedded content will appear in the exact place you clicked to place the gizmo.&#xA0; If you want to see what the content will look like when you share your portfolio with others, you will need to preview it.&#xA0; Click the &apos;preview&apos;
    link in the top left corner and click &apos;View Draft.&apos;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7889/preview embedded content.jpg"><img src="//help.foliotek.com/media/7889/preview embedded content_533x423.jpg" width="533" height="423" alt="Preview Embedded content" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<h4>Editing/Removing the Embed Gizmo</h4>

<p>If you want to edit the Embed code or remove the Embed Gizmo, double click on the Embed Gizmo Placeholder.&#xA0; Two grey tabs will appear at the top of the placeholder.&#xA0; Click &apos;config&apos; to edit the code (make sure to click OK to save your
    changes) or click &apos;remove&apos; to take out the Embed Gizmo.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/7894/edit-remove embed.jpg" target="_blank"><img src="//help.foliotek.com/media/7894/edit-remove embed_535x378.jpg" width="535" height="378" alt="Edit-Remove Embed" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}