---
title: Feedback Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Feedback Gizmo?</h3>



<p>The Feedback Gizmo creates a feedback form in your portfolio. &#xA0;This will allow users who visit your portfolio to tell you what they think of it. &#xA0;They will leave their name, email address, and any comments they would like to make for you to
    see.
</p>

<p>Quick Instructions:</p>

<ul>
    <li>Click on the GIZMO tab</li>

    <li>Click on the Feedback Gizmo</li>

    <li>Click in your portfolio where you want the form to go</li>
</ul>

<h4>Adding the Feedback Gizmo</h4>

<p>To add the Feedback Gizmo, click &quot;GIZMOS&quot; then &quot;FEEDBACK&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34932/open gizmo tab - feedback.jpg" title="Open Gizmo Tab - Feedback"><img src="//help.foliotek.com/media/34932/open gizmo tab - feedback_395x137.jpg" width="395" height="137" alt="Open Gizmo Tab - Feedback" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>A feedback form can be placed in the main, minor, or footer <a href="/presentation/design/styles-(boxes)" target="_blank" title="Styles (Boxes)">boxes</a> of your portfolio.&#xA0; Find the location on your page you would like to place the form and click
    there.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34937/placing the feedback gizmo.jpg" target="_blank" title="Placing the Feedback Gizmo"><img src="//help.foliotek.com/media/34937/placing the feedback gizmo_394x273.jpg" width="394" height="273" alt="Placing the Feedback Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>The form will appear and that is all you need to do. &#xA0;The Feedback Gizmo is very simple and needs no settings.</p>

<p>
    <a href="//help.foliotek.com/media/34942/feedback form.jpg" target="_blank"><img src="//help.foliotek.com/media/34942/feedback form_372x346.jpg" width="372" height="346" alt="Feedback Form" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Removing the Feedback Gizmo</h4>

<p>To remove the feedback form, click on the form and a box will appear that says &quot;remove&quot;. &#xA0;Click that box and the form will be removed from your page.</p>

<p>&#xA0;</p>

<h4>Viewing Feedback</h4>

<p>
    <a href="//help.foliotek.com/media/34947/feedback indicator.jpg" target="_blank" title="Feedback Indicator"><img src="//help.foliotek.com/media/34947/feedback indicator_260x132.jpg" width="260" height="132" alt="Feedback Indicator" style="float: right; margin-left: 10px; margin-right: 10px;"></a>When someone leaves feedback on your portfolio, a red circle
    with a number in it will appear next to your name.&#xA0; The number indicates how many unread Feedback messages you have.</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<p>To view your feedback,&#xA0;click the arrow next to your username in the top right corner.&#xA0; Then click &quot;Feedback.&quot;&#xA0; From here you can see the comments for your private, public, and community shares.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34952/viewing feedback.jpg" target="_blank" title="Viewing Feedback"><img src="//help.foliotek.com/media/34952/viewing feedback_391x114.jpg" width="391" height="114" alt="Viewing Feedback" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>The name of the portfolio that was commented on is listed to the right of the comment.&#xA0; You can also see the date and time the feedback was submitted and the type of share that it came from&#xA0; To remove a comment, click the check box next to the
    comment and click &quot;Remove&quot; at the top of the page.&#xA0; You can also click the check box next to the comment and click &quot;Mark as Read&quot; to mark the comment as already read.</p>

<p>
    <a href="//help.foliotek.com/media/34957/reading feedback.jpg" target="_blank" title="Reading Feedback"><img src="//help.foliotek.com/media/34957/reading feedback_394x153.jpg" width="394" height="153" alt="Reading Feedback" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}