---
title: Grid Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Grid Gizmo?</h3>



<p>The Grid gizmo allows you to add multiple images into one location within the content of your portfolio.&#xA0; You select the images you would like to include and determine the look of the grid using the various options available.&#xA0; The grid is a
    great way to display multiple images in your portfolio.</p>

<p>&#xA0;</p>

<h4>Creating a Grid</h4>

<p>Creating a grid is very easy.&#xA0; Simply click on the &apos;Gizmos&apos; tab at the top of the portfolio editor. &#xA0; When the &apos;Gizmo&apos; area opens, click on the &apos;Grid&apos; icon.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35607/open gizmo tab - grid.jpg" target="_blank" title="Open Gizmo Tab - Grid"><img src="//help.foliotek.com/media/35607/open gizmo tab - grid_395x129.jpg" width="395" height="129" alt="Open Gizmo Tab - Grid" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Next, click into the content page where you would like the grid to appear. This will place the gizmo in the page and open up the &apos;Create Grid&apos; modal.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35612/placing griz gizmo.jpg" target="_blank" title="Placing Grid Gizmo"><img src="//help.foliotek.com/media/35612/placing griz gizmo_394x301.jpg" width="394" height="301" alt="Placing Grid Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>Now you can select the images you want to place in the portfolio.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35617/selecting images for grid.jpg" target="_blank" title="Selecting Images for Grid"><img src="//help.foliotek.com/media/35617/selecting images for grid_395x301.jpg" width="395" height="301" alt="Selecting Images for Grid" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>For each image selected, you can add a caption by clicking on &apos;edit&apos; or &apos;[Enter Caption]&apos;. Type your caption, if desired, and click &apos;ok&apos; to save it. If you accidentally clicked on an image or decide you don&apos;t want one
    anymore, click &apos;remove&apos; to get it out of the list. When you are satisfied with your images, click on &apos;Add&apos; to create the grid in your portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35622/editing grid images.jpg" target="_blank" title="Editing Grid Images "><img src="//help.foliotek.com/media/35622/editing grid images_395x302.jpg" width="395" height="302" alt="Editing Grid Images" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Grid Editing Options</h4>

<p>Once your grid is in the portfolio page, you have several other editing options. Not only can you change it to a slideshow or splat, but now you can adjust the size, spacing and borders of the gizmo. You can access these options by clicking on the grid
    to open the &apos;Gizmo Controls&apos;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35627/grid editing options.jpg" target="_blank" title="Grid Editing Options "><img src="//help.foliotek.com/media/35627/grid editing options_395x202.jpg" width="395" height="202" alt="Grid Editing Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>At the top of the &apos;Gizmo&apos; controls, you can switch to a &apos;Slideshow&apos; or &apos;Splat&apos;, these are ways of displaying your images. Check out the <a href="/presentation/gizmos/slideshow-gizmo" target="_blank" title="Slideshow Gizmo">Slideshow Gizmo</a>    and <a href="#" target="_blank" title="Splat Gizmo">Splat Gizmo</a> pages for more information on each of these. In this area of the gizmo, you can also change the pictures that are shown and completely remove the grid from the page.</p>

<p>In the &apos;Grid&apos; options, you can select the number of columns and the space between each column in the grid.&#xA0; The &apos;zoom&apos; feature lets you display a close-up of the images you have selected.&#xA0; You cannot adjust which area of
    the images are shown in the &apos;zoom&apos;.
</p>

<p>The &apos;Image Border&apos; section allows you to place a border around each image.&#xA0; You can set the size of the border, the color for the border, and determine the amount of space between the border and the image.</p>

<p>&#xA0;</p>

<p style="text-align: center;">
    <a href="//help.foliotek.com/media/35632/grid border.jpg" target="_blank" title="Grid Border"><img src="//help.foliotek.com/media/35632/grid border_394x188.jpg" width="394" height="188" alt="Grid Border"></a>
</p>

<p>&#xA0;</p>

<p>The &apos;Outer Spacing&apos; options allow you to set the margin around the gizmo, move the gizmo to the edge of its alotted space, and wrap text around the gizmo, if it is placed inside a paragraph.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35637/grid spacing.jpg" target="_blank" title="Grid Spacing"><img src="//help.foliotek.com/media/35637/grid spacing_362x190.jpg" width="362" height="190" alt="Grid Spacing" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>You can also create a border around the grid using the &apos;Gizmo Border&apos; options. Here, you can choose the border size (this has to be done before the other options are made available), color, style, and determine the padding between the images
    and the gizmo border.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35642/editing grid border.jpg" target="_blank" title="Editing Grid Border "><img src="//help.foliotek.com/media/35642/editing grid border_395x216.jpg" width="395" height="216" alt="Editing Grid Border" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}