---
title: Image Gizmos - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Image Gizmo?</h3>



<p>Foliotek presentation allows you to add images to your portfolio a number of different ways. &#xA0;One of these ways is using the IMAGE GIZMO. &#xA0;This is a gizmo found using the &quot;Gizmo&quot; tab on the toolbar.</p>

<p><span>Quick Instructions:</span></p>

<ul>
    <li>Click on the GIZMO tab</li>

    <li>Click on the Image Gizmo</li>

    <li>Click in your portfolio where you want the image to go</li>

    <li>Choose either an image you have already uploaded or a web image
    </li>

    <li>Click &quot;Add Image&quot;</li>
</ul>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34833/open gizmo tab.jpg" target="_blank" title="Open Gizmos Tab"><img src="//help.foliotek.com/media/34833/open gizmo tab_395x137.jpg" width="395" height="137" alt="Open Gizmo Tab" style="display: block; margin-left: auto; margin-right: auto;"></a> <span></span></p>

<p>&#xA0;</p>

<h4><span>Using the Image Gizmo</span></h4>

<p><span>You&apos;ll find the Image Gizmo located with the rest of the

gizmos in the GIZMO tab on the standard content editor

toolbar.</span></p>

<p>Once you find the Image Gizmo, click once on the gizmo to &quot;pick it up.&quot; &#xA0;There is no need to click and hold/drag the gizmo. &#xA0;Clicking on it once will &quot;pick it up.&quot;</p>

<p>Navigate to where you would like the gizmo to be placed and click again to &quot;put it down.&quot;&#xA0; The available places to put the image will be outlined in green.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34838/placing the image gizmo.jpg" target="_blank" title="Placing the Image Gizmo"><img src="//help.foliotek.com/media/34838/placing the image gizmo_393x324.jpg" width="393" height="324" alt="Placing the Image Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<p>Once you click to place the gizmo, you have the choice to either choose an image you want to place, or select an image from the web. &#xA0;You can select between the two by choosing &quot;Your Images&quot; or &quot;Web Images&quot;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34843/selecting your image.jpg" target="_blank" title="Selecting Your Image"><img src="//help.foliotek.com/media/34843/selecting your image_395x221.jpg" width="395" height="221" alt="Selecting Your Image" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34848/selecting web image.jpg" target="_blank" title="Select Web Image"><img src="//help.foliotek.com/media/34848/selecting web image_393x170.jpg" width="393" height="170" alt="Selecting Web Image" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Once you finally click &apos;Add Image&apos;, the image will be placed in the exact place you clicked to place the gizmo.</p>

<p>
    <a href="//help.foliotek.com/media/34853/the placed image.jpg" target="_blank" title="The Placed Image"><img src="//help.foliotek.com/media/34853/the placed image_394x252.jpg" width="394" height="252" alt="The Placed Image" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Now that the image has been put in place, you can edit the image using the <a href="/presentation/content-editor/images" target="_blank" title="Images">Image Controls</a>. &#xA0;This will allow you to add borders, padding, and captions to your image.</p>
{% endblock contents %}