---
title: Slideshow Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Slideshow Gizmo?</h3>



<p>The Slideshow gizmo allows you to add multiple images into one location within the content of your portfolio.&#xA0; You select the images you would like to include and determine the look of the slideshow using the various options available.&#xA0; Once
    shared, the slideshow can scroll through the images you selected, displaying them in a unique way.&#xA0; If the person you shared with clicks on the slideshow, the images are opened in a larger viewer.
</p>

<p>&#xA0;</p>

<h4>Creating a Slideshow</h4>

<p>Creating a slideshow is very easy.&#xA0; Simply click on the &apos;Gizmos&apos; tab at the top of the portfolio editor. &#xA0; When the &apos;Gizmo&apos; area opens, click on the &apos;Slideshow&apos; icon.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35383/selecting slideshow gizmo.jpg" target="_blank" title="Selecting Slideshow Gizmo"><img src="//help.foliotek.com/media/35383/selecting slideshow gizmo_393x122.jpg" width="393" height="122" alt="Selecting Slideshow Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Next, click into the content page where you would like the slideshow to appear.&#xA0; This will place the gizmo in the page and open up the &apos;Create Slideshow&apos; modal.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35394/placing slideshow gizmo.jpg" target="_blank" title="Placing Slideshow Gizmo"><img src="//help.foliotek.com/media/35394/placing slideshow gizmo_394x288.jpg" width="394" height="288" alt="Placing Slideshow Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>Now you can select the images you want to place in the portfolio.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35399/selecting images for slideshow.jpg" target="_blank" title="Selecting Images for Slideshow "><img src="//help.foliotek.com/media/35399/selecting images for slideshow_394x286.jpg" width="394" height="286" alt="Selecting Images for Slideshow" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>For each image selected, you can add a caption by clicking on &apos;edit&apos; or &apos;[Enter Caption]&apos;.&#xA0; Type your caption, if desired, and click &apos;ok&apos; to save it.&#xA0; If you accidentally clicked on an image or decide you don&apos;t
    want one anymore, click &apos;remove&apos; to get it out of the list.&#xA0; When you are satisfied with your images, click on &apos;Add&apos; to create the slideshow in your portfolio.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35410/editing slideshow images.jpg" target="_blank" title="Editing Slideshow Images "><img src="//help.foliotek.com/media/35410/editing slideshow images_395x301.jpg" width="395" height="301" alt="Editing Slideshow Images" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Slideshow Editing Options</h4>

<p>Once your slideshow is in the portfolio page, you have several other editing options.&#xA0; Not only can you change it to an image grid or splat, but now you can adjust the size, spacing and borders of the gizmo.&#xA0; You can access these options by
    double clicking on the slideshow to open the &apos;Gizmo Controls&apos;.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35421/slideshow editing options.jpg" target="_blank" title="Slideshow Editing Options "><img src="//help.foliotek.com/media/35421/slideshow editing options_395x237.jpg" width="395" height="237" alt="Slideshow Editing Options" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>At the top of the &apos;Gizmo&apos; controls, you can switch to a &apos;Grid&apos; or &apos;Splat&apos;, these are static ways of displaying your images that do not transition between the images as the slideshow does.&#xA0; Check out the <a href="/presentation/gizmos/grid-gizmo"
    target="_blank" title="Grid Gizmo">Grid Gizmo</a> and <a href="/presentation/gizmos/splat-gizmo" target="_blank" title="Splat Gizmo">Splat Gizmo</a> pages for more information on each of these. In this area of the gizmo, you can also change the pictures
    that are shown and completely remove the slideshow from the page.</p>

<p>&#xA0;</p>

<p>In the &apos;Slideshow&apos; options, you can set the type of transition, if or how the images will change, whether the image number will be displayed, and how the images are displayed.&#xA0; There are 11 different transition options for moving between
    images.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35426/slideshow controls.jpg" target="_blank" title="Slideshow Controls"><img src="//help.foliotek.com/media/35426/slideshow controls_395x229.jpg" width="395" height="229" alt="Slideshow Controls" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>The &apos;Outer Spacing&apos; options allow you to set the margin around the gizmo, move the gizmo to the edge of its alotted space, and wrap text around the gizmo, if it is placed inside a paragraph.</p>

<p>&#xA0;</p>

<p>You can also create a border around the slideshow using the &apos;Gizmo Border&apos; options.&#xA0; Here, you can choose the border size (this has to be done before the other options are made available), color, style, and determine the padding between
    the images and the border.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/35437/slideshow border.jpg" target="_blank"><img src="//help.foliotek.com/media/35437/slideshow border_395x202.jpg" width="395" height="202" alt="Slideshow Border" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}