---
title: Twitter Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Twitter Gizmo?</h3>



<p>Foliotek presentation allows you to add your Twitter feed to your portfolio through our TWITTER GIZMO. This is a gizmo found using the &quot;Gizmo&quot; tab on the toolbar.</p>

<p>Quick Instructions:</p>

<ul>
    <li>Click on the GIZMO tab</li>

    <li>Click on the Twitter Gizmo</li>

    <li>Click in your portfolio where you want your Tweets</li>

    <li>Enter your Twitter username.</li>

    <li>Design the gizmo</li>

    <li>Click &quot;OK&quot;</li>
</ul>

<h4>Using the Twitter Gizmo</h4>

<p>You&apos;ll find the Twitter Gizmo located with the rest of the gizmos in the&#xA0;GIZMO&#xA0;tab on the standard content editor toolbar.
</p>

<p>Once you find the Twitter Gizmo, click once on the gizmo to &quot;pick it up.&quot; &#xA0;There is no need to click and hold/drag the gizmo. &#xA0;Clicking on it once will &quot;pick it up.&quot;</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34911/open gizmo tab - twitter.jpg" target="_blank" title="Open Gizmos Tab"><img src="//help.foliotek.com/media/34911/open gizmo tab - twitter_395x137.jpg" width="395" height="137" alt="Open Gizmo Tab - Twitter" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>Navigate to where you would like the gizmo to be placed and click again to &quot;put it down.&quot;&#xA0; The available places to put the image will be outlined in green.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34916/placing the twitter gizmo.jpg" target="_blank"><img src="//help.foliotek.com/media/34916/placing the twitter gizmo_393x277.jpg" width="393" height="277" alt="Placing the Twitter Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p><span>Once you click the Twitter Gizmo a configuration box will

appear similar to below.</span></p>

<p><span><br>

</span></p>

<p><span><a href="//help.foliotek.com/media/34901/twitter configuration.jpg" target="_blank"><img src="//help.foliotek.com/media/34906/twitter configuration_394x324.jpg" width="394" height="324" alt="Twitter Configuration" style="display: block; margin-left: auto; margin-right: auto;"></a><br>

</span></p>

<p><span></span></p>

<p><span><br>

</span></p>

<p>
    <a href="//help.foliotek.com/media/34921/twitter color picker.jpg" target="_blank" title="Twitter Color Picker"><img src="//help.foliotek.com/media/34921/twitter color picker_312x187.jpg" width="312" height="187" alt="Twitter Color Picker" style="float: right;"></a><span>To configure your gizmo, use the

following steps:</span></p>

<p><span>1. Enter your Twitter username in the username box.

&#xA0;Press &quot;SUBMIT&quot; to see a preview of your feed.</span>
    <span>Pressing submit will not close the configure box.</span></p>

<p>2. Choose the colors for your gizmo border and links. &#xA0;You can do this by clicking the box containing the color and opening up the color picker.&#xA0; Once you&apos;ve found the color you want, be sure to click &apos;choose&apos; to save it.</p>

<p>&#xA0;</p>

<p>3. Choose the other settings for your Twitter feed, such as the scroll bar and header/footer features.</p>

<p>4. Click &quot;OK&quot;.</p>

<p>You will now see a placeholder for your Twitter feed. &#xA0;To see what it will look like on your page, preview your portfolio.
</p>

<p>&#xA0;</p>

<h4>Editing the Twitter Gizmo</h4>

<p>To edit the settings of your Twitter Gizmo, double click on the placeholder and a control box will appear. &#xA0;From this control menu, you can change your settings again and remove your gizmo if needed.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/1527/twitter3.png" target="_blank"><img src="//help.foliotek.com/media/1527/twitter3.png" width="374" height="28" alt="twitter3" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>To change the size of the gizmo, use the slider on the left side of the bar. &#xA0;You can change both the width and height of the gizmo. You can also change the margin and snap to edge setting as well.
</p>
{% endblock contents %}