---
title: Video Gizmo - Foliotek Presentation 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<h3>What is the Video Gizmo?</h3>



<p>Foliotek presentation allows you to add videos to your portfolio a number of different ways. &#xA0;One of these ways is using the VIDEO GIZMO. &#xA0;This is a gizmo found using the &quot;Gizmo&quot; tab on the toolbar.</p>

<p><span><span>Quick Instructions</span>:</span>
</p>

<ul>
    <li>Click on the GIZMO tab</li>

    <li>Click on the Video Gizmo</li>

    <li>Click in your portfolio where you want the video to go</li>

    <li>Click on the Video you want or enter the URL of the video you would like to add.</li>

    <li>Click &quot;Add Video&quot;</li>
</ul>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34864/open gizmo tab - video.jpg" target="_blank" title="Open Gizmos Tab"><img src="//help.foliotek.com/media/34864/open gizmo tab - video_395x137.jpg" width="395" height="137" alt="Open Gizmo Tab - Video" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4><span>Using the Video Gizmo</span></h4>

<p><span>You&apos;ll find the Video Gizmo located with the rest of the

Gizmos in the <span>GIZMO</span> tab on the standard content editor toolbar.
    </span>
</p>

<p>Once you find the Video Gizmo, click once on the gizmo to &quot;pick it up.&quot; &#xA0;There is no need to click and hold/drag the gizmo. &#xA0;Clicking on it once will &quot;pick it up.&quot;</p>

<p>After you have picked up the Video Gizmo by clicking on it, you can put it anywhere in the current portfolio page by clicking once again to place it.&#xA0;The available places to put the image will be outlined in green.&#xA0; Once you have placed it,
    you have two options.&#xA0; You can add a video you have uploaded into your &apos;<a href="/presentation/files" target="_blank" title="Files">Files</a>&apos; area or you can add a video from the internet.</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34869/placing the video gizmo.jpg" target="_blank" title="Placing the Video Gizmo"><img src="//help.foliotek.com/media/34869/placing the video gizmo_395x299.jpg" width="395" height="299" alt="Placing the Video Gizmo" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<p>&#xA0;</p>

<h4>Personal Video</h4>

<p>If you want to add one of your personal videos, all you need to do is click on the thumbnail of the video that appears in the gizmo.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34874/adding your video.jpg" target="_blank" title="Adding Your Video"><img src="//help.foliotek.com/media/34874/adding your video_394x198.jpg" width="394" height="198" alt="Adding Your Video" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>

<p>&#xA0;</p>

<h4>Web Video</h4>

<p>If it is a video from the web, click on &apos;Web Video&apos;.&#xA0; You&apos;ll be prompted with a dialogue window that will request you put in the URL for the video. Enter the video URL, then click &apos;Add Video&apos;.
</p>

<p>&#xA0;</p>

<p>
    <a href="//help.foliotek.com/media/34879/adding web videos.jpg" target="_blank" title="Adding Web Videos"><img src="//help.foliotek.com/media/34879/adding web videos_395x150.jpg" width="395" height="150" alt="Adding Web Videos" style="display: block; margin-left: auto; margin-right: auto;"></a>
</p>
{% endblock contents %}