---
title: Content Editor 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/content-editor/saving">Saving</a>
        <p>How to save your electronic portfolio in Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/content-editor/editable-areas">Editable Areas</a>
        <p>How to find and edit the various electronic portfolio content editable areas in Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/content-editor/fonts-formatting">Fonts &amp; Formatting</a>
        <p>How to change the fonts and formatting you want to use for your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/content-editor/styles-(inline)">Styles (Inline)</a>
        <p>How to to change simple styles in your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/content-editor/images">Images</a>
        <p>How to add images to your electronic portfolio and edit those images using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/content-editor/videos">Videos</a>
        <p></p>
    </li>
    <li><a href="/presentation/content-editor/previewing">Previewing</a>
        <p>How to preview your electronic portfolio using Foliotek Presentation.</p>
    </li>
</ul>
{% endblock contents %}