---
title: Design 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/design/templates">Templates</a>
        <p>How to choose and modify templates your various templates.</p>
    </li>
    <li><a href="/presentation/design/layout">Layout</a>
        <p>How to change the layout of a custom template.</p>
    </li>
    <li><a href="/presentation/design/site-background">Site Background</a>
        <p>How to change the background image and color of your electronic portfolio using custom templates.</p>
    </li>
    <li><a href="/presentation/design/header-background">Header Background</a>
        <p></p>
    </li>
    <li><a href="/presentation/design/styles-(boxes)">Styles (Boxes)</a>
        <p>How to change the fine grained styles of your electronic portfolio using custom template styling.</p>
    </li>
    <li><a href="/presentation/design/styles-(fonts)">Styles (Fonts)</a>
        <p>How to change the fonts for content areas of a custom template in your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/design/styles-(formatting)">Styles (Formatting)</a>
        <p>How to tweak borders, background colors, box shadows and margin with a custom template.</p>
    </li>
</ul>
{% endblock contents %}