---
title: Files 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/files/file-manager">File Manager</a>
        <p></p>
    </li>
    <li><a href="/presentation/files/adding-files">Adding Files</a>
        <p>How to add files from your files repository into your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/files/file-storage">File Storage</a>
        <p>How to manage your files.</p>
    </li>
    <li><a href="/presentation/files/editing-files">Editing Files</a>
        <p>How to edit files.</p>
    </li>
    <li><a href="/presentation/files/sorting-files">Sorting Files</a>
        <p>How to sort your files.</p>
    </li>
    <li><a href="/presentation/files/searching-files">Searching Files</a>
        <p>How to search through your files.</p>
    </li>
</ul>
{% endblock contents %}