---
title: Test Getting Started 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<p>


    Need help getting started? No problem!</p>
<ul class="category-list">
    <li><a href="/presentation/getting-started/what&apos;s-a-portfolio">What&apos;s A Portfolio</a>
        <p>A portfolio is a collection of work. Ultimately this work is collected for some other purpose like presenting to a potential employer or documenting your experiences.</p>
    </li>
    <li><a href="/presentation/getting-started/create-a-portfolio">Create A Portfolio</a>
        <p>Foliotek Presentation helps you create an online portfolio. This section will guide you in the three step process for building an online web portfolio.</p>
    </li>
    <li><a href="/presentation/getting-started/customize-your-portfolio">Customize Your Portfolio</a>
        <p>In customizing a portfolio you need to know a little about design. Design will help people reviewing your portfolios better understand you and quickly find the information they are seeking.</p>
    </li>
</ul>
{% endblock contents %}