---
title: Gizmos 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/gizmos/image-gizmo">Image Gizmo</a>
        <p>Placing an Image Gizmo in your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/gizmos/video-gizmo">Video Gizmo</a>
        <p>Adding a video into your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/gizmos/twitter-gizmo">Twitter Gizmo</a>
        <p>How to add a Twitter feed into your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/gizmos/feedback-gizmo">Feedback Gizmo</a>
        <p>How to receive feedback on your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/gizmos/prezi-gizmo">Prezi Gizmo</a>
        <p>How to add a Prezi into your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/gizmos/document-gizmo">Document Gizmo</a>
        <p>How to add files into your electronic portfolio using Foliotek Presentation.</p>
    </li>
    <li><a href="/presentation/gizmos/slideshow-gizmo">Slideshow Gizmo</a>
        <p></p>
    </li>
    <li><a href="/presentation/gizmos/grid-gizmo">Grid Gizmo</a>
        <p></p>
    </li>
    <li><a href="/presentation/gizmos/splat-gizmo">Splat Gizmo</a>
        <p></p>
    </li>
    <li><a href="/presentation/gizmos/embed-gizmo">Embed Gizmo</a>
        <p></p>
    </li>
    <li><a href="/presentation/gizmos/projects-gizmo">Projects Gizmo</a>
        <p></p>
    </li>
</ul>
{% endblock contents %}