---
title: Identity Page 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/identity-page/what-is-the-identity-page">What is the Identity Page?</a>
        <p></p>
    </li>
    <li><a href="/presentation/identity-page/selecting-a-template">Selecting a Template</a>
        <p></p>
    </li>
    <li><a href="/presentation/identity-page/building-your-story">Building your story</a>
        <p></p>
    </li>
    <li><a href="/presentation/identity-page/creating-your-look">Creating your look</a>
        <p></p>
    </li>
    <li><a href="/presentation/identity-page/customizing-your-identity-page">Customizing your Identity Page</a>
        <p></p>
    </li>
    <li><a href="/presentation/identity-page/publishing-and-sharing-your-identity">Publishing and Sharing your Identity</a>
        <p></p>
    </li>
</ul>
{% endblock contents %}