---
title: Management 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/management/dashboard">Dashboard</a>
        <p>How Foliotek Presentation&apos;s dashboard works and areas that can be accessed from it..</p>
    </li>
    <li><a href="/presentation/management/eportfolios-manager">ePortfolios Manager</a>
        <p></p>
    </li>
    <li><a href="/presentation/management/account-settings">Account Settings</a>
        <p>Foliotek Presentation&apos;s instructions on how to change the settings for a users account</p>
    </li>
    <li><a href="/presentation/management/browser-recommendations">Browser Recommendations</a>
        <p></p>
    </li>
</ul>
{% endblock contents %}