---
title: Pages 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/pages/new-pages">New Pages</a>
        <p>How to add additional pages to your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/pages/copydeleterename">Copy/Delete/Rename</a>
        <p>How to copy, delete, and rename the pages of your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/pages/reordering">Reordering</a>
        <p>How to reorder the listing of pages in your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/pages/live-vs-draft">Live vs Draft</a>
        <p>How to work with draft pages vs working with live pages.</p>
    </li>
    <li><a href="/presentation/pages/sharing-pages">Sharing Pages</a>
        <p>The different ways to share pages of your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/pages/merging-pages">Merging Pages</a>
        <p>How to take create and merge the draft pages of your electronic portfolio with the live pages.</p>
    </li>
    <li><a href="/presentation/pages/nesting-pages">Nesting Pages</a>
        <p></p>
    </li>
</ul>
{% endblock contents %}