---
title: Sharing 
lunr: true
---
{% extends 'site.swig' %}
{% block contents %}
<ul class="category-list">



    <li><a href="/presentation/sharing/private">Private</a>
        <p>How to privately share your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/sharing/public">Public</a>
        <p>How to publicly share your electronic portfolio.</p>
    </li>
    <li><a href="/presentation/sharing/community">Community</a>
        <p>How to share an electronic portfolio in a community.</p>
    </li>
    <li><a href="/presentation/sharing/feedback">Feedback</a>
        <p></p>
    </li>
    <li><a href="/presentation/sharing/collaborate">Collaborate</a>
        <p></p>
    </li>
</ul>
{% endblock contents %}